<form class='create-room-form'>
  <h1 class='title'>Create A New Room</h1>
  {{#if createGroupErrorMessage}}
    <div class='alert alert-error'>{{createGroupErrorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    <label>Room Name</label>
    {{input type='text' value=newRoomName autocomplete='off'}}
  </div>
  <div class='form-actions'>
    <button type='submit' {{action 'createRoom'}} {{bind-attr disabled='isCreatingGroup'}}>Create Room</button>
  </div>
</form>
