<div class='lobby-join-room-callout'>
  <span class='arrow'>&larr;</span>
  input <strong>Room Key</strong> to enter a room
</div>

{{#if showCreateRoomCallout}}
  <div class='lobby-create-room-callout'>
    <span class='arrow'>&larr;</span>
    or <strong>create</strong> a new room
  </div>
{{/if}}
