<div class='footer'>
  <a class='footer-link' href='/legal/tos'>Terms of Service</a>
  <a class='footer-link' href='/legal/privacy'>Privacy Policy</a>
  <a class='footer-link' href='/legal/dmca'>Copyright Policy</a>
</div>
