<div {{bind-attr class=':footer fixedToBottom:fixed-to-bottom'}}>
  {{#if areAppLinksVisible}}
    <div class='app-links'>
      {{#unless isAndroid}}
        <a href='https://itunes.apple.com/us/app/skymob-best-app-for-group/id778593574?ls=1&mt=8' target='_blank'>
          <img src='{{unbound webServerUrl 'imageIosAppStore'}}' alt='Available on the App Store' style='width: 165px; height: auto'>
        </a>
      {{/unless}}
    </div>
  {{/if}}
  <div class='footer-links'>
    <a class='footer-link' href='/legal/tos'>Terms of Service</a>
    <a class='footer-link' href='/legal/privacy'>Privacy Policy</a>
    <a class='footer-link' href='/legal/dmca'>Copyright Policy</a>
  </div>
</div>
