<form class='room-key-form' {{action 'submitRoomKey' on='submit'}}>
  <input type='text' class='room-key-input' placeholder='Enter Room Key' autocomplete='off'>
  <div class='room-key-icon'></div>
  <div class='submit-room-key-button' {{action 'submitRoomKey'}}>
    <span class='submit-room-key-icon'></span>
  </div>
</form>
