<div class='header'>
  <div class='close' {{action 'hideDialog'}}>&times;</div>
  <h3>Settings</h3>
</div>
<div class='content'>
  {{#if isShowingGeneralTab}}
    {{partial 'components/settings-dialog-general-tab'}}
  {{/if}}
</div>
