// Put application-specific color definitions here.
app-blue = #1E95FB
app-red = #E73636

app-primary-bg-color = #EEF0F0
app-primary-fg-color = #484848
app-secondary-bg-color = app-red
app-secondary-fg-color = #fff

body-bg = #fff
link-color = #777c91
