// Put application-specific color definitions here.
app-blue = #1E95FB

// TODO
app-primary-bg-color = #aeaeae
app-primary-fg-color = #484848
app-secondary-bg-color = app-blue
app-secondary-fg-color = #fff

body-bg = #fff
link-color = #777c91
