doctype 5
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' href='/favicon.ico?v=1')
    != css('application')
  body
    block content
    script.
      window.AppConfig = !{JSON.stringify(config)};
    != js('application')
