extends mobile-layout

block content
  | PERCEPTUAL NETWORKS COPYRIGHT POLICY
  | <br><br>
  | Notification of Copyright Infringement:
  | <br>Perceptual Networks, Inc. (“Perceptual Networks”) respects the intellectual property rights of others and expects its users to do the same.
  | <br><br>
  | It is Perceptual Networks’ policy, in appropriate circumstances and at its discretion, to disable and/or terminate the accounts of subscribers and account holders who repeatedly infringe the copyrights or other intellectual property rights of others.
  | <br><br>
  | In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at http://www.copyright.gov/legislation/dmca.pdf, Perceptual Networks will respond expeditiously to claims of copyright infringement committed using the skymob.co website or other online network accessible through a mobile device or other type of device (collectively, the “Site”) that are reported to Perceptual Networks’ Designated Copyright Agent, identified in the sample notice below.
  | <br><br>
  | If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following DMCA Notice of Alleged Infringement and delivering it to Perceptual Networks’ Designated Copyright Agent (contact information below).  Upon receipt of the Notice as described below, Perceptual Networks will take whatever action, in its sole discretion, it deems appropriate, including removal of or disabling access to the challenged material at the Site.
  | <br><br>
  | DMCA Notice of Alleged Infringement (“Notice”)
  | <br><br>
  | 1.Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.
  | <br><br>
  | 2.Identify the material that you claim is infringing or a reference or link to material that you claim to be infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and provide information reasonably sufficient to permit us to locate the material or reference or link, including at a minimum, if applicable, the URL of the link shown on the Site where such material may be found.​
  | <br><br>
  | 3.Provide your mailing address, telephone number, and, if available, email address.
  | <br><br>
  | 4.Include both of the following statements in the body of the Notice, if they are true:
  | <br><br>
  | • “I hereby state that I have a good faith belief that the disputed use of the copyrighted material or reference or link to such material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).”
  | <br><br>• “I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.”
  | <br><br>5.Provide your full legal name and your electronic or physical signature.
  | <br><br>
  | Deliver this Notice, with all items completed, to Perceptual Networks’ Designated Copyright Agent:
  | <br><br>
  | Copyright Agent
  | <br><br>c/o Perceptual Networks, Inc.
  | 206 S 4th Street<br>
  | Philadelphia, PA 19106<br>
  | copyright@perceptualnet.com
