doctype 5
html
  head
    title skymob #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    link(rel='shortcut icon' href='/favicon.ico?v=1')
    != css('application')
    block head-content
  body.logged-out.static-mobile-layout
    .page-content
      block content
    .footer
      a.footer-link(href='/legal/tos') Terms of Service
      a.footer-link(href='/legal/privacy') Privacy Policy
      a.footer-link(href='/legal/dmca') Copyright Policy
    script.
      if (AppConfig.useAnalytics) {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34895126-6']);
        _gaq.push(['_setDomainName', 'atfirstsight.com']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
