doctype 5
html
  head
    title skymob #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    link(rel='shortcut icon' href='/favicon.ico?v=1')
    != css('application')
    block head-content
  body.logged-out.static-mobile-layout
    .page-content
      block content
    .footer
      a.footer-link(href='/legal/tos') Terms of Service
      a.footer-link(href='/legal/privacy') Privacy Policy
      a.footer-link(href='/legal/dmca') Copyright Policy
