// Put application-specific CSS here.  It gets included at the bottom, so it can
// override all other styles.

.rooms-list, .contacts-list
  // Not showing user status.
  // .room-avatar.unavailable
  .room-avatar
    // Unavailable color on colored background, but fully opaque so it works in
    // the Mac app and Safari.
    border-color #BFBAAC

.footer
  .footer-link
    color #fff
