// Put application-specific CSS here.  It gets included at the bottom, so it can
// override all other styles.

.home-page
  .home-content
    margin-top -50px
    max-width none

  .footer
    margin-top -300px

@media (max-width: 850px)
  .home-page
    .footer
      margin-top -200px
@media (max-width: 520px)
  .home-page
    .footer
      margin-top -100px

@media (max-width: 568px)
  .home-page
    .home-content
      margin-top 0


.navbar
  #brand-image-wide
    width 104px !important

@media (max-width: 480px)
  .mobile-install-dialog
    .title
      // Undo the padding.
      margin-left -(15px + 20px) // Extra 20px is to cut off the F.
      margin-right -15px
      // Stay in upper left corner.
      text-align left

@media (max-height: 380px)
  .mobile-install-dialog
    .title
      // Reduce space to keep app store download in view on old iPhones.
      margin-bottom 10px

.rooms-sidebar
  border-right 1px solid #C2C7CB

// Since we added a border, we need to adjust the width.
.current-user-status-bar
  width room-sidebar-width - 1px

.rooms-list, .contacts-list
  // Not showing user status.
  // .room-avatar.unavailable
  .room-avatar
    // Unavailable color on colored background, but fully opaque so it works in
    // the Mac app and Safari.
    border-color #B5BCBC

.room-content
  background-color #fbfbfb
