// Put application-specific color definitions here.
app-blue = #1E95FB
app-light-blue = #46B3DE
app-yellow = #f7ec30

app-primary-bg-color = app-yellow
app-primary-fg-color = #000
app-secondary-bg-color = app-light-blue
app-secondary-fg-color = #fff

body-bg = app-yellow
link-color = #888
