extends ../mobile-layout

block head-content
  |  <style type="text/css">
  |    p { margin: 0 0 10px; }
  |    strong, b { font-weight: bold; }
  |    ul { margin: 0 0 10px 25px; }
  |    p.p1 {margin: 0.0px 0.0px 10.0px 0.0px; text-align: center; font: 15.0px Arial; color: #484848}
  |    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #484848}
  |    p.p3 {margin: 0.0px 0.0px 10.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p4 {margin: 0.0px 0.0px 8.0px 0.0px; font: 12.0px Times; color: #484848; min-height: 14.0px}
  |    p.p5 {margin: 0.0px 0.0px 8.0px 0.0px; font: 15.0px Arial; color: #484848}
  |    p.p6 {margin: 0.0px 0.0px 10.0px 0.0px; font: 15.0px Arial; color: #484848}
  |    p.p7 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p9 {margin: 0.0px 0.0px 4.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    li.li7 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    li.li8 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    li.li10 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 15.0px Arial}
  |    span.s1 {color: #000000}
  |    span.s2 {color: #777c91}
  |    span.s3 {text-decoration: underline}
  |    span.s4 {text-decoration: underline ; color: #000000}
  |    span.s5 {color: #1155cc}
  |    ul.ul1 {list-style-type: disc}
  |  </style>


block content
  | <p class="p1"><b>Tell Your Story Terms of Service</b></p>
  | <p class="p1"><b>Last Updated: June 13, 2016</b></p>
  | <p class="p2"><br></p>
  | <p class="p3">Welcome to Tell Your Story! Tell Your Story LLC (“<b>TYS</b>”) provides Tell Your Story, our<span class="s1"> video messaging application </span>via our website located at <a href="http://www.tellyourstory.org"><span class="s2">www.tellyourstory.org</span></a> (the “<b>Site</b>”) and our mobile device <span class="s1">applications (the “<b>Apps</b>”).</span> Please read these Terms of Service (the “<b>Terms</b>”) carefully because they govern your use of our Site and <span class="s1">Apps</span>. To make these Terms easier to read, the Site, our services and <span class="s1">Apps</span> are collectively called the “<b>Services</b>.”</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Agreement to Terms</b></p>
  | <p class="p3">By using our Services, you agree to be bound by these Terms. If you don’t agree to these Terms, do not use the Services.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Changes to Terms or Services</b></p>
  | <p class="p3">We may modify the Terms at any time, in our sole discretion. If we do so, we’ll let you know either by posting the modified Terms on the Site or through other communications. It’s important that you review the Terms whenever we modify them because if you continue to use the Services after we have posted modified Terms on the Site, you are indicating to us that you agree to be bound by the modified Terms. If you don’t agree to be bound by the modified Terms, then you can’t use the Services anymore. Because our Services are evolving over time we may change or discontinue all or any part of the Services, at any time and without notice, at our sole discretion.</p>
  | <p class="p4"><br></p>
  | <p class="p5"><b>Who May Use the Services</b></p>
  | <p class="p6"><span class="s3">Eligibility</span></p>
  | <p class="p7">You may use the Services only if you are 13 years or older and capable of forming a binding contract with TYS and are not barred from using the Services under applicable law.</p>
  | <p class="p8"><b>Using the Services</b></p>
  | <p class="p8">Via the Services, Users can create video recordings and photos and share them with others.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Feedback</b></p>
  | <p class="p3">We welcome feedback, comments and suggestions for improvements to the Services (“<b>Feedback</b>”). You can submit Feedback<span class="s1"> through the support interface in the “Settings” section of the Apps</span>. You grant to us a non-exclusive, worldwide, perpetual, irrevocable, fully-paid, royalty-free, sublicenseable and transferable license under any and all intellectual property rights that you own or control to use, copy, modify, create derivative works based upon and otherwise exploit the Feedback for any purpose.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Privacy Policy</b></p>
  | <p class="p3">Please refer to our Privacy Policy at <a href="http://tellyourstory.org/legal/privacy"><span class="s2">http://tellyourstory.org/legal/privacy</span></a> for information on how we collect, use and disclose information from our users.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Content and Content Rights</b></p>
  | <p class="p3">For purposes of these Terms: (i) “<b>Content</b>” means text, graphics, images, music, software, audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided or otherwise made available through the Services; and (ii) “<b>User Content</b>” means any Content that Account holders (including you) provide to be made available through the Services. Content includes without limitation User Content.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Content Ownership, Responsibility and Removal</b></p>
  | <p class="p3">TYS does not claim any ownership rights in any Content that you make available through the Services and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit your User Content. Subject to the foregoing, TYS and its licensors exclusively own all right, title and interest in and to the Services and Content, including all associated intellectual property rights. You acknowledge that the Services and Content are protected by copyright, trademark, and other laws of the United States and foreign countries. You agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Services or Content.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Rights in User Content Granted by You</span></p>
  | <p class="p3">By making any User Content available through Services you hereby grant to TYS a non-exclusive, transferable, sublicenseable, worldwide, royalty-free license to use, copy, modify, create derivative works based upon, distribute, publicly display, publicly perform and distribute your User Content in connection with (i) operating and providing the Services and Content to you and to other Account holders and (ii) operating and providing any other online services and mobile applications made available by TYS.</p>
  | <p class="p2"><br></p>
  | <p class="p3">You are solely responsible for all your User Content. You represent and warrant that <span class="s1">you own all your User Content or you have all rights that are necessary to grant us the license rights in your User Content under these Terms. You also represent and warrant that neither </span>your User Content, nor your use and provision of your User Content to be made available through the Services, nor any use of your User Content by TYS on or through the Services will infringe, misappropriate or violate a third party’s intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</p>
  | <p class="p2"><br></p>
  | <p class="p8">If you post inappropriate or offensive User Content into the service, we will remove the User Content and may revoke your right to access the service.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><span class="s3">Rights in Content Granted by TYS</span></p>
  | <p class="p8">Subject to your compliance with these Terms, TYS grants you a limited, non-exclusive, non-transferable, non-sublicenseable license to download, view, copy, display and print the Content solely in connection with your permitted use of the Services.</p>
  | <p class="p4"><br></p>
  | <p class="p7"><b>Rights and Terms for Apps</b></p>
  | <p class="p8"><span class="s3">Rights in </span><span class="s4">Apps</span><span class="s3"> Granted by TYS</span></p>
  | <p class="p8">Subject to your compliance with these Terms, TYS grants you a limited non-exclusive, non-transferable, non-sublicenseable license to download and install a copy of the <span class="s1">Apps</span> on a mobile device or computer that you own or control and to run such copy of the <span class="s1">Apps</span> solely for your own personal non-commercial purposes. TYS reserves all rights in and to the <span class="s1">Apps</span> not expressly granted to you under these Terms.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><span class="s3">Additional Terms for App Store Apps</span></p>
  | <p class="p8">If you download the <span class="s1">Apps</span> through or from any app store or distribution platform (like the Apple App Store or Google Play) where the <span class="s1">Apps</span> are made available (each, an “<b>App Provider</b>”), then you acknowledge and agree that:</p>
  | <p class="p2"><br></p>
  | <ul class="ul1">
  |   <li class="li8">These Terms are concluded between you and TYS, and not with the App Provider, and that TYS (not the App Provider), is solely responsible for the <span class="s1">Apps</span>.</li>
  |   <li class="li8">The App Provider has no obligation to furnish any maintenance and support services with respect to the <span class="s1">Apps</span>.</li>
  |   <li class="li8">In the event of any failure of the <span class="s1">Apps</span> to conform to any applicable warranty, you may notify the App Provider, and the App Provider will refund the purchase price for the <span class="s1">Apps</span> to you (if applicable) and, to the maximum extent permitted by applicable law, the App Provider will have no other warranty obligation whatsoever with respect to the <span class="s1">Apps</span>. Any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be the sole responsibility of TYS.</li>
  |   <li class="li8">The App Provider is not responsible for addressing any claims you have or any claims of any third party relating to the <span class="s1">Apps</span> or your possession and/or use of the <span class="s1">Apps</span>, including, but not limited to: (i) product liability claims; (ii) any claim that the App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection and/or similar legislation.</li>
  |   <li class="li8">In the event of any third-party claim that the <span class="s1">Apps</span> or your possession and/or use of that <span class="s1">Apps</span> infringes that third party’s intellectual property rights, TYS will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms.</li>
  |   <li class="li8">The App Provider and its subsidiaries are third-party beneficiaries of these Terms as related to your license of the <span class="s1">Apps</span>, and that, upon your acceptance of the terms and conditions of these Terms, the App Provider will have the right (and will be deemed to have accepted the right) to enforce these Terms as related to your license of the <span class="s1">Apps</span> against you as a third-party beneficiary thereof.</li>
  |   <li class="li8">You must also comply with all applicable third-party terms of service when using the <span class="s1">Apps</span>.  By using the Apps, you represent and warrant that you have not entered into any agreements with third-parties that prevent you from using the Apps.  Furthermore, you agree to indemnify and hold TYS harmless for any claims from any third-parties.  Anytime that these Apps are used to contact or communicate with a third-party individual or entity or online service, it is because you are requesting that we contact and communicate with that third party on your behalf.</li>
  |   <li class="li8">You agree to comply with all U.S. and foreign export laws and regulations to ensure that neither the <span class="s1">Apps</span> nor any technical data related thereto nor any direct product thereof <span class="s1">are</span> exported or re-exported directly or indirectly in violation of, or used for any purposes prohibited by, such laws or regulations. By using the <span class="s1">Apps</span> you represent and warrant that: (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</li>
  | </ul>
  | <p class="p2"><br></p>
  | <p class="p8">You may not: (i) copy, modify or create derivative works based on the <span class="s1">Apps</span>; (ii) distribute, transfer, sublicense, lease, lend or rent the <span class="s1">Apps</span> to any third party; (iii) reverse engineer, decompile or disassemble the <span class="s1">Apps</span>; or (iv) make the functionality of the <span class="s1">Apps</span>available to multiple users through any means.</p>
  | <p class="p4"><br></p>
  | <p class="p7"><b>Prohibitions</b></p>
  | <p class="p9">You agree not to do any of the following:</p>
  | <ul class="ul1">
  |   <li class="li7">Post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any person or entity; or (vii) promotes illegal or harmful activities or substances.</li>
  |   <li class="li10">Use, copy or distribute any User Content from another user of the Services outside of the Services without permission from such user;</li>
  |   <li class="li7">Use, display, mirror or frame the Services, or any individual element within the Services, TYS’s name, any TYS trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without TYS’s express written consent;</li>
  |   <li class="li7">Access, tamper with, or use non-public areas of the Services, TYS’s computer systems, or the technical delivery systems of TYS’s providers;</li>
  |   <li class="li7">Attempt to probe, scan, or test the vulnerability of any TYS system or network or breach any security or authentication measures;</li>
  |   <li class="li7">Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by TYS or any of TYS’s providers or any other third party (including another user) to protect the Services or Content;</li>
  |   <li class="li7">Attempt to access or search the Services or Content or download Content from the Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by TYS or other generally available third party web browsers;</li>
  |   <li class="li7">Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;</li>
  |   <li class="li7">Use any meta tags or other hidden text or metadata utilizing a TYS trademark, logo URL or product name without TYS’s express written consent;</li>
  |   <li class="li7">Use the Services or Content for any commercial purpose or the benefit of any third party or in any manner not permitted by these Terms;</li>
  |   <li class="li7">Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Services or Content to send altered, deceptive or false source-identifying information;</li>
  |   <li class="li7">Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services or Content;</li>
  |   <li class="li7">Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;</li>
  |   <li class="li7">Collect or store any personally identifiable information from the Services from other users of the Services without their express permission;</li>
  |   <li class="li7">Impersonate or misrepresent your affiliation with any person or entity;</li>
  |   <li class="li7">Violate any applicable law or regulation; or</li>
  |   <li class="li7">Encourage or enable any other individual to do any of the foregoing.</li>
  | </ul>
  | <h3 style="margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848">Although we’re not obligated to monitor access to or use of the Services or Content or to review or edit any Content, we have the right to do so for the purpose of operating the Services, to ensure compliance with these Terms, or to comply with applicable law or other legal requirements. We reserve the right, but are not obligated, to remove or disable access to any Content, at any time and without notice, including, but not limited to, if we, at our sole discretion, consider any Content to be objectionable or in violation of these Terms. We have the right to investigate violations of these Terms or conduct that affects the Services. We may also consult and cooperate with law enforcement authorities to prosecute users who violate the law.</h3>
  | <p class="p2"><br></p>
  | <p class="p3"><b>DMCA/Copyright Policy</b></p>
  | <p class="p8">TYS respects copyright law and expects its users to do the same. It is TYS’s policy to terminate in appropriate circumstances Account holders or subscribers who repeatedly infringe the rights of copyright holders. Please see TYS’s Copyright Policy at <a href="http://tellyourstory.org/legal/copyright"><span class="s2">http://tellyourstory.org/legal/copyright</span></a> for further information.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Use of Open Source Projects</b></p>
  | <p class="p8">The Services may incorporate open source software whose licenses require notice to Users of the inclusion of such software. If we use any such open source software, the licenses will be posted at <a href="http://tellyourstory.org/legal/licenses"><span class="s2">http://tellyourstory.org/legal/licenses</span></a> . Acceptance of these Terms shall constitute acceptance of any licenses posted there as well and such posting constitutes inclusion of said licenses if required by the licenesee.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Links to Third Party Websites or Resources</b></p>
  | <p class="p8">The Services and <span class="s1">Apps</span> may contain links to third-party websites or resources. We provide these links only as a convenience and are not responsible for the content, products or services on or available from those websites or resources or links displayed on such sites. You acknowledge sole responsibility for and assume all risk arising from, your use of any third-party websites or resources.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Termination</b></p>
  | <p class="p3">We may terminate your access to and use of the Services, at our sole discretion, at any time and without notice to you. You may cancel your Account at any time <span class="s1">via the “Settings” section of the Services</span>. Upon any termination, discontinuation or cancellation of Services or your Account, all provisions of these Terms which by their nature should survive will survive, including, without limitation, ownership provisions, warranty disclaimers, limitations of liability, and dispute resolution provisions.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Warranty Disclaimers</b></p>
  | <p class="p3">THE SERVICES AND CONTENT ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING,WE EXPLICITLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. We make no warranty that the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. We make no warranty regarding the quality, accuracy, timeliness, truthfulness, completeness or reliability of any Content.</p>
  | <p class="p2"><br></p>
  | <p class="p3">YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SERVICES. YOU UNDERSTAND THAT TYS DOES NOT PROVIDE TECHNOLOGIES THAT PREVENT PEOPLE YOU SHARE YOUR CONTENT WITH FROM FORWARDING IT ON TO OTHER PEOPLE, INSIDE OR OUTSIDE OF THE SERVICES. SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF THE SERVICES, NOR DOES TYS MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF USERS OF THE SERVICES. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS IN REGARDS TO SHARING CONTENT WITH USERS OF THE SERVICE AND OTHER PEOPLE. YOU AGREE TO USE REASONABLE JUDGMENT BEFORE FORWARDING PERSONAL PHOTOS AND VIDEOS TO OTHER PEOPLE.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>Indemnity</b></p>
  | <p class="p8">You will indemnify and hold harmless TYS and its officers, directors, employee and agents, from and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (i) your access to or use of the Services or Content, (ii) your User Content, or (iii) your violation of these Terms.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Limitation of Liability</b></p>
  | <p class="p8">NEITHER TYS NOR ANY THIRD PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE SERVICESARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT TYS HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>
  | <p class="p2"><br></p>
  | <p class="p8">IN NO EVENT WILL TYS’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES OR CONTENT EXCEED <span class="s1">THE AMOUNTS YOU HAVE PAID TO TYS FOR USE OF THE SERVICES IN THE TWELVE (12) MONTH PERIOD PRIOR TO THE CLAIM GIVING RISE TO LIABILITY, IF YOU HAVE MADE ANY PAYMENTS TO TYS FOR USE OF THE SERVICES OR </span>ONE HUNDRED DOLLARS ($100)<span class="s1">, IF YOU HAVE NOT MADE ANY PAYMENTS TO TYS FOR USE OF THE SERVICES, AS APPLICABLE</span>. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN TYS AND YOU.</p>
  | <h1 style="margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848"><b>Dispute Resolution</b></h1>
  | <p class="p3"><span class="s3">Governing Law</span></p>
  | <p class="p3">These Terms and any action related thereto will be governed by the laws of the State of California without regard to its conflict of laws provisions.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Agreement to Arbitrate</span></p>
  | <p class="p3">You and TYS agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof or the use of the Services or Content (collectively, “<b>Disputes</b>”) will be settled by binding arbitration, except that each party retains the right: (i) to bring an individual action in small claims court and (ii) to seekinjunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights (the action described in the foregoing clause (ii), an “<b>IP Protection Action</b>”). The exclusive jurisdiction and venue of any IP Protection Action will be the state and federal courts located in the Northern District of California and each of the parties hereto waives any objection to jurisdiction and venue in such courts. <b>You acknowledge and agree that you and TYS are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding.</b>Further, unless both you and TYS otherwise agree in writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative proceeding. If this specific paragraph is held unenforceable, then the entirety of this “Dispute Resolution” section will be deemed void. Except as provided in the preceding sentence, this “Dispute Resolution” section will survive any termination of these Terms.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Arbitration Rules</span></p>
  | <p class="p3">The arbitration will be administered by the American Arbitration Association (“<b>AAA</b>”<b>) </b>in accordance with the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the “<b>AAA Rules</b>”) then in effect, except as modified by this “Dispute Resolution” section. (The AAA Rules are available at <a href="http://www.adr.org/arb_med"><span class="s1">www.adr.org/arb_med</span></a> or by calling the AAA at <a href="tel:1-800-778-7879"><span class="s5">1-800-778-7879</span></a>.) The Federal Arbitration Act will govern the interpretation and enforcement of this Section.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Arbitration Process</span></p>
  | <p class="p3">A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules. (The AAA provides a form Demand for Arbitration at <a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175"><span class="s1">http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175</span></a> and a separate form for California residents at <a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822"><span class="s1">http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822</span></a>.) The arbitrator will be either a retired judge or an attorney licensed to practice law and will be selected by the parties from the AAA’s roster of arbitrators. If the parties are unable to agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the arbitrator in accordance with the AAA Rules.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Arbitration Location and Procedure</span></p>
  | <p class="p3">Unless you and TYS otherwise agree, the arbitration will be conducted in the county where you reside. If your claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of the documents that you and TYS submit to the arbitrator, unless you request a hearing or the arbitrator determines that a hearing is necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules. Subject to the AAA Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent with the expedited nature of the arbitration.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Arbitrator’s Decision</span></p>
  | <p class="p3">The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator’s decision will include the essential findings and conclusions upon which the arbitrator based the award. Judgment on the arbitration award may be entered in any court having jurisdiction thereof. The arbitrator’s award of damages must be consistent with the terms of the “Limitation of Liability” section above as to the types and amounts of damages for which a party may be held liable. The arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to provide relief warranted by the claimant’s individual claim. If you prevail in arbitration you will be entitled to an award of attorneys’ fees and expenses, to the extent provided under applicable law. TYS will not seek, and hereby waives all rights it may have under applicable law to recover, attorneys’ fees and expenses if it prevails in arbitration.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s3">Fees</span></p>
  | <p class="p3">Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules. However, if your claim for damages does not exceed $75,000, TYS will pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).</p>
  | <p class="p2"><br></p>
  | <p class="p8"><span class="s3">Changes</span></p>
  | <p class="p8">Notwithstanding the provisions of the “Modification” section above, if TYS changes this “Dispute Resolution” section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by sending us written notice (including by email to <a href="mailto:support@tellyourstory.org"><span class="s2">support@tellyourstory.org</span></a>)within 30 days of the date such change became effective, as indicated in the “Last Updated” date above or in the date of TYS’s email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and TYS in accordance with the provisions of this “Dispute Resolution” section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>General Terms</b></p>
  | <p class="p3">These Terms constitute the entire and exclusive understanding and agreement between TYS and you regarding the Services and Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between TYS and you regarding the Services and Content. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.</p>
  | <p class="p2"><br></p>
  | <p class="p3">You may not assign or transfer these Terms, by operation of law or otherwise, without TYS’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. TYS may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>
  | <p class="p2"><br></p>
  | <p class="p3">Any notices or other communications provided by TYS under these Terms, including those regarding modifications to these Terms, will be given by TYS: (i) via email; or (ii) by posting to the Site or <span class="s1">Apps</span>. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.</p>
  | <h3 style="margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848">TYS’s failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of TYS. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.</h3>
  | <p class="p2"><br></p>
  | <p class="p3"><b>Contact Information</b></p>
  | <p class="p8">If you have any questions about these Terms or the Services, please contact TYS at 250 Bowery, 3rd floor, NY, NY 10012.</p>
  | 
