extends ../mobile-layout

block head-content
  |  <style type="text/css">
  |    p { margin: 0 0 10px; }
  |    strong, b { font-weight: bold; }
  |    ul { margin: 0 0 10px 25px; }
  |    p.p1 {margin: 0.0px 0.0px 10.0px 0.0px; text-align: center; font: 15.0px Arial; color: #484848}
  |    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #484848}
  |    p.p3 {margin: 0.0px 0.0px 10.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p4 {margin: 0.0px 0.0px 8.0px 0.0px; font: 12.0px Times; color: #484848; min-height: 14.0px}
  |    p.p5 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p6 {margin: 0.0px 0.0px 9.0px 0.0px; font: 12.0px Times; color: #484848; min-height: 14.0px}
  |    p.p7 {margin: 0.0px 9.0px 9.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Arial; color: #484848}
  |    p.p9 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Arial}
  |    span.s1 {color: #777c91}
  |    span.s2 {text-decoration: underline}
  |    span.s3 {color: #000000}
  |    span.s4 {color: #484848}
  |    span.s5 {text-decoration: underline ; color: #777c91}
  |  </style>

block content
  | <p class="p1"><b>Tell Your Story Privacy Policy</b></p>
  | <p class="p1"><b>Last Updated: June 13, 2016</b></p>
  | <p class="p2"><br></p>
  | <p class="p3">Protecting your privacy is really important to Tell Your Story. Accordingly, we’re providing this Privacy Policy to explain our practices regarding the collection, use and disclosure of information that we receive when you use our Services (as defined in our Tell Your Story Terms of Service, accessible at <a href="http://tellyourstory.org/legal/tos"><span class="s1">http://tellyourstory.org/legal/tos</span></a> ). This Privacy Policy applies only to those websites, services and applications included within “Services” and doesn’t apply to any third-party websites, services or applications, even if they are accessible through our Services. Also, please note that, unless we define a term in this Privacy Policy, all capitalized words used in this Privacy Policy have the same meanings as in our Terms of Service.</p>
  | <p class="p4"><br></p>
  | <p class="p5"><b>How do we collect and use information?</b></p>
  | <p class="p5">Our primary goals in collecting information are to provide and improve our Services, to administer your use of the Services, and to enable you to enjoy and easily navigate our Services.</p>
  | <p class="p3"><span class="s2">Account Information</span>. An Account is required to most feature in the service. And, in general, we may collect information that can be used to identify you upon registration, including possibly your name and email address and phone number (“<b>Personally Identifiable Information</b>” or “<b>PII</b>”).</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Information Collected Using Cookies</span>. We collect certain information through the use of “cookies,” which are small text files that are saved by your browser when you access our Services. We may use both session cookies and persistent cookies to identify that you’ve logged in to the Services and to tell us how and when you interact with our Services. We may also use cookies to monitor aggregate usage and web traffic routing on our Services and to customize and improve our Services. Unlike persistent cookies, session cookies are deleted when you log off from the Services and close your browser. Although most browsers automatically accept cookies, you can change your browser options to stop automatically accepting cookies or to prompt you before accepting cookies. Please note, however, that if you don’t accept cookies, you may not be able to access all portions or features of the Services. Some third-party services providers that we engage (including third-party advertisers) may also place their own cookies on your browser. Note that this Privacy Policy covers only our use of cookies and does not include use of cookies by such third parties.</p>
  | <p class="p6"><br></p>
  | <p class="p7">Web Beacons</p>
  | <p class="p7">We also use "web beacons," "pixel tags," "clear GIFs" or similar means (individually or collectively "<b>Web Beacons</b>") on our Services. A Web Beacon is an electronic image, often a single pixel, embedded on web pages. Web Beacons are ordinarily not visible to users. Web Beacons allow us to count the number of users who have visited certain pages of the Services, to deliver branded services and to generate statistics about how our Services are used.</p>
  | <p class="p3"><span class="s2">Information Related to Use of the Services</span>. Our Services automatically record certain information about how a person uses our Services (we refer to this information as “<b>Log Data</b>”), including both Account holders and non-Account holders (either, a “<b>User</b>”). Log Data may include information such as a User’s Internet Protocol (IP) address, mobile device identification number (if you access the Services via a mobile device), browser type, operating system, the web page that a User was visiting before accessing our Services, the pages or features of our Services to which a User browsed and the time spent on those pages or features, search terms, content load times, notification delivery status, the links on our Services that a User clicked on and other statistics. We use this information to administer the Services and we analyze (and may engage third parties to analyze) this information to improve and enhance the Services by expanding their features and functionality and tailoring them to our Users’ needs and preferences. We may use a person’s IP address to fight spam, malware and identity theft. We also use the IP Address to generate aggregate, non-identifying information about how our Services are used.</p>
  | <p class="p2"><br></p>
  | <p class="p3">We use Google Analytics and Flurry Analytics to collect, monitor and analyze Log Data in order to increase our Services’ functionality and user-friendliness, and to better tailor our Services to our visitors’ needs. We also use this information to verify that visitors to the Services meet the criteria required to process their requests. Accordingly, Log Data is shared with Google and Flurry, which have their own privacy policies (accessible at <a href="http://www.google.com/policies/privacy/"><span class="s3">http://www.google.com/policies/privacy/</span></a> and <a href="http://www.flurry.com/about-us/legal/privacy.html"><span class="s3">http://www.flurry.com/about-us/legal/privacy.html</span></a> respectively) addressing how these parties use such information. You may opt out of Flurry Analytics tracking and personalized ads/recommendations from Flurry by clicking <a href="http://www.flurry.com/resources/privacy.html"><span class="s3">here</span></a>. Please note that the opt-out is specific to Flurry activities and does not affect the activities of other ad networks or analytics providers.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Location Information</span>. In some cases we collect and store information about where you are located, such as by converting your IP address into a rough geolocation or via your mobile device GPS information. We may use location information to improve and personalize our Services for you.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><b>What Information Do We Share With Third Parties?</b></p>
  | <p class="p2"><br></p>
  | <p class="p3">We will not share any PII that we have collected from you except as described below:</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Tell Your Story Users</span>. If you choose to share Content via an SNS Account directly or via hosting at <a href="http://tellyourstory.org/"><span class="s1">http://tellyourstory.org</span></a>, other Users may see information from your SNS Account associated with your content, such as your username and/or account photo from the SNS Account.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Information Shared with Our Services Providers</span>. We may engage third party service providers to work with us to administer and provide the Services and to manage transactions made via the Services. These third-party services providers have access to your PII only for the purpose of performing services on our behalf and are expressly obligated not to disclose or use your PII for any other purpose.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Information Shared with Third Parties</span>. We may share aggregated information and non-identifying information with third parties for industry analysis, demographic profiling and other similar purposes.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Information Disclosed in Connection with Business Transactions</span>. Information that we collect from our users, including PII, is considered to be a business asset. As a result, if we go out of business or enter bankruptcy or if we are acquired as a result of a transaction such as a merger, acquisition or asset sale, your PII may be disclosed or transferred to the third-party acquirer in connection with the transaction.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Information Disclosed for Our Protection and the Protection of Others</span>. It is our policy to protect you from having your privacy violated through abuse of the legal systems, whether by individuals, entities or government, and to contest claims that we believe to be invalid under applicable law. However, it is also our policy to cooperate with government and law enforcement officials and private parties. Accordingly, we reserve the right to disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary: (i) to satisfy or comply with any applicable law, regulation or legal process or to respond to lawful requests, including subpoenas, warrants or court orders; (ii) to protect our property, rights and safety and the rights, property and safety of third parties or the public in general; and (iv) to prevent or stop activity we consider to be illegal or unethical.</p>
  | <p class="p2"><br></p>
  | <p class="p3"><span class="s2">Information We Disclose With Your Consent or at Your Request</span>. We will share your PII with third-party sites or platforms, such as social networking sites, if you have expressly requested that we do so.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>The Security of Your Information</b></p>
  | <p class="p3">We take reasonable measures to protect the information that we collect from or about you (including your PII) from unauthorized access, use or disclosure. Please be aware, however, that no method of transmitting information over the Internet or storing information is completely secure. Accordingly, we cannot guarantee the absolute security of any information.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>Links to Other Sites</b></p>
  | <p class="p8">Our Services may contain links to other websites and services. Any information that you provide on or to a third-party website or service is provided directly to the owner of the website or service and is subject to that party's privacy policy. Our Privacy Policy does not apply to such websites or services and we’re not responsible for the content, privacy or security practices and policies of those websites or services. To protect your information we recommend that you carefully review the privacy policies of other websites and services that you access.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>Modifying Your Information</b></p>
  | <p class="p8">To remove any PII stored on your mobile device, you can simply delete the mobile application. Any User Content shared to an SNS Account must be deleted via your direct use of that account. Any User Content hosted at <a href="http://tellyourstory.org/"><span class="s1">http://tellyourstory.org</span></a>, cannot currently be deleted.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>International Transfer</b></p>
  | <p class="p9">Your PII may be transferred to, and maintained on, computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. <span class="s4">If you’re located outside the United States and choose to provide your PII to us, we may transfer your PII to the United States and process it there.</span></p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>Our Policy Toward Children</b></p>
  | <p class="p8">Our Services are not directed to children under 13 and we do not knowingly collect PII from children under 13. If we learn that we have collected PII of a child under 13 we will take steps to delete such information from our files as soon as possible.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>Changes to Privacy Policy</b></p>
  | <p class="p8">Any information that we collect is subject to the privacy policy in effect at the time such information is collected. We may, however, modify and revise this Privacy Policy from time to time. If we make any material changes to this Privacy Policy, we’ll notify you of such changes by posting them on the Services or by sending you an email or other notification, and we’ll indicate when such changes will become effective.</p>
  | <p class="p2"><br></p>
  | <p class="p8"><b>Questions?</b></p>
  | <p class="p8">Please contact us at <a href="mailto:privacy@tellyourstory.org"><span class="s5">privacy@tellyourstory.org</span></a> if you have any questions about our Privacy Policy.</p>
