@import 'reset.css'
@import 'nib/text/ellipsis'
@import 'nib/overflow'
@import 'nib/vendor'
@import 'defaults'

app-purple = #341B45
app-dark-purple = #2E1C38
app-green = #56C0A5

link-color = #3f9bcd

base-font-family = gotham_rounded, Helvetica, Arial, sans-serif
base-line-height = 20px

warning-text-color = #c09853
warning-background-color = #fcf8e3
warning-border-color = darken(adjust(warning-background-color, 'hue', -10), 3%)

error-text-color       = #b94a48
error-background-color = #f2dede
error-border-color     = darken(adjust(error-background-color, 'hue', -10), 3%)

// Mixins

// Include this mixin to style placeholder text.  Call with a plus prefix to use
// a block.
input-placeholder()
  &.placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
  &::-webkit-input-placeholder
    {block}

grayscale-image()
  filter url(/images/filters.svg#grayscale) // Firefox 3.5+
  filter gray // IE6-9
  -webkit-filter: grayscale(1) // Chrome, Safari 6+, Opera 15+
  filter: grayscale(100%) // Current draft standard.

disable-grayscale-image()
  filter none
  -webkit-filter: grayscale(0)

sprites-background()
  background-image url('/images/sprites2x.png')
  background-size 260px 57px
  background-repeat no-repeat

sprite-icon()
  display inline-block
  background-repeat no-repeat
  vertical-align middle

// Fix flashing on node-webkit.  Add this to any element that may be transformed
// in the future, for example, on hover.
//
// http://viget.com/inspire/webkit-transform-kill-the-flash
webkit-flashing-fix()
  -webkit-transform translateZ(0)

dark-purple-round-input()
  box-sizing border-box
  margin 10px
  padding 6px 8px
  border-radius 15px
  border 1px solid rgba(0,0,0, .5)
  outline none
  box-shadow 0 1px 0 rgba(255,255,255, .18)
  background-color #1E0529
  color rgba(254, 255, 255, 0.65)

  // Placeholder text should match.
  +input-placeholder()
    color rgba(254, 255, 255, 0.65)


///////////////////////////////////////////////////////////
// Animations

.expand-in
  animation-name expand-in
  animation-duration .5s
  animation-timing-function ease-in-out
  visibility visible !important

@keyframes expand-in
  0%
    transform scale(0)
    opacity 0.0
  60%
    transform scale(1.1)
  80%
    transform scale(0.9)
    opacity 1
  100%
    transform scale(1)
    opacity 1

.expand-in-less-bounce
  animation-name expand-in-less-bounce
  animation-duration .5s
  animation-timing-function ease-in-out
  visibility visible !important

@keyframes expand-in-less-bounce
  0%
    transform scale(0)
    opacity 0.0
  60%
    transform scale(1.05)
  80%
    transform scale(0.9)
    opacity 1
  100%
    transform scale(1)
    opacity 1

.expand-up
  animation-name expand-up
  animation-duration .3s
  animation-timing-function ease
  visibility visible !important

@keyframes expand-up
  0%
    transform translateY(40%) scale(0.6) scaleY(0.5)
  60%
    transform translateY(-7%) scaleY(1.12)
  75%
    transform translateY(3%)
  100%
    transform translateY(0%) scale(1) scaleY(1)

.expand-down
  animation-name expand-down
  animation-duration .3s
  animation-timing-function ease
  visibility visible !important

@keyframes expand-down
  0%
    transform translateY(-40%) scale(0.6) scaleY(0.5)
  60%
    transform translateY(7%) scaleY(1.12)
  75%
    transform translateY(-3%)
  100%
    transform translateY(0%) scale(1) scaleY(1)

///////////////////////////////////////////////////////////
// Fonts

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-light-webfont.eot');
    src: url('/fonts/gothamrnd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-light-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-light-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-book-webfont.eot');
    src: url('/fonts/gothamrnd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-book-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-book-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-book-webfont.svg#gotham_roundedbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-medium-webfont.eot');
    src: url('/fonts/gothamrnd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-medium-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-medium-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-medium-webfont.svg#gotham_roundedmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-bold-webfont.eot');
    src: url('/fonts/gothamrnd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-bold-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-bold-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-bold-webfont.svg#gotham_roundedbold') format('svg');
    font-weight: 900;
    font-style: normal;
}

///////////////////////////////////////////////////////////

// All inputs should have a hand cursor.
button, input[type='range'], input[type='checkbox'], label.checkbox, select, input[type='radio']
  cursor pointer

button
  // Fix browser defaults, especially IE9.
  padding-left 6px
  padding-right 6px

input, button, select, textarea
  font-family base-font-family

.pull-left
  float left

.pull-right
  float right

.clearfix
  &:before, &:after
    content ""
    display table
    line-height 0
  &:after
    clear both

.alert
  margin-bottom base-line-height
  border 1px solid warning-border-color
  border-top-left-radius 4px
  border-top-right-radius 4px
  padding 5px 10px
  background-color warning-background-color
  color warning-text-color

.alert-error
  border-color error-border-color
  background-color error-background-color
  color error-text-color

.app-btn
  margin 0
  border 1px solid rgba(0, 0, 20, 0.3)
  padding 10px 17px
  border-radius 6px
  background-color #EEF0F0
  box-shadow inset 0 0 1px rgba(255,255,255, 0.9)
  color hsl(225, 8%, 43%)
  font-size 14px
  text-align center
  text-decoration none

  &.btn-flat
    border-width 0
    border-radius 2px
    box-shadow none

  &:hover, &.hover
    background-color lighten(#EEF0F0, 50%)

  &:active
    outline 0
    box-shadow inset 0 0 8px rgba(0,0,0, 0.5)

  &.btn-green
    background-color app-green
    color #fff

    &:hover, &.hover
      background-color lighten(app-green, 10%)

  &.btn-fb
    padding 0
    background-color #374F81 // The darker blue behind the icon.
    color #fff

    .btn-fb-text-container
      padding-top 10px
      padding-bottom 10px
      background-color #3C5A99
      margin-left 45px // Space for the facebook-f icon.

    &:hover, &.hover
      background-color lighten(#374F81, 10%)

      .btn-fb-text-container
        background-color lighten(#3C5A99, 10%)

.btn-block
  display block
  box-sizing border-box
  width 100%
  padding-left 0
  padding-right 0

.facebook-f-icon
  float left
  margin-left 16px
  margin-top 6px
  width 12px
  height 22px
  sprites-background()
  sprite-icon()
  background-position -160px -32px


.menu
  position absolute
  box-sizing border-box
  overflow hidden
  background-color #ccc
  border-radius 4px
  box-shadow 0 0 3px rgba(0,0,0, .2)
  z-index 100
  visibility hidden // Initially hidden.

  webkit-flashing-fix()

  .menu-item
    padding 5px 10px
    cursor pointer

    &:hover:not(.disabled)
      background-color #E0E0E0

  .separator
    height 0
    border 1px solid #888
    border-bottom-color #eee

.disabled, .app-btn[disabled]
  opacity .6
  cursor inherit

.room-avatar
  position relative
  display inline-block
  box-sizing border-box
  width 42px
  height 42px
  border 4px solid hsla(180, 6%, 94%, 0.5)
  border-radius 50%
  background-clip padding-box
  vertical-align middle
  background-clip padding-box
  background-repeat no-repeat
  background-position center
  background-size cover

  &.group
    border-width 0

  &.not-displayed
    display none

  &.avatars-off:not(.always-show-avatar), &.blank-avatar
    width 11px
    height 11px
    background-image none !important
    margin-top 2px

  &.available, &.away, &.idle, &.do_not_disturb, &.unavailable
    transition border-color .5s ease-out

  &.available
    border-color #A2D61C

  &.away, &.idle
    border-color #FDB00D

  &.do_not_disturb
    border-color #DA362A

  &.unavailable
    border-color hsla(0, 0%, 73%, 0.5)

  &.no-status
    border-color transparent

  &.phone:after, &.tablet:after
    position absolute
    right -5px
    bottom -5px
    content ''
    width 12px
    height 22px
    sprites-background()
    background-position -88px -4px

.medium-avatar-image
  width 43px
  height 43px
  border-radius 50%

.emoticon
  height 32px
  width auto
  vertical-align middle

.small-emoticon
  height 20px

.page-overlay
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  background-color rgba(0,0,0, .75)
  z-index 1000

  transition opacity 0.2s ease-out, visibility 0.2s ease-out

  &.hidden
    visibility hidden
    opacity 0

.members-preview-subtitle
  margin-bottom 10px
  font-size 12px
  font-weight bold

.members-preview
  font-size 12px

  .member-preview:not(.name-horizontal)
    float left
    margin-right 5px
    margin-bottom 15px
    width 68px
    text-align center

    // Set max height so long names overflow show up to 2 lines, but no more.
    max-height 67px
    overflow hidden

  .no-one-here, .member-count-more
    color rgba(0,0,0, .4)
    font-weight bold
    text-shadow 0 1px 0 #fff

  .member-count-ellipsis
    sprites-background()
    sprite-icon()
    display block
    width 32px
    height 10px
    background-position -180px -41px
    margin-left 10px
    margin-bottom 3px
    opacity .4

  .member-count-more
    float left
    padding-top 17px

  .no-one-here
    margin 20px

.modal
  position fixed
  top 50%
  left 50%
  overflow hidden
  z-index 1001 // Higher than .page-overlay
  border-radius 6px
  background-color #EDEDED
  box-shadow 0 0 40px rgba(0,0,0, 1)

.settings-dialog
  dialog-width = 380px
  width dialog-width
  margin-left -(dialog-width / 2)
  margin-top -258px // Negative height divided by 2.
  visibility hidden // Initially hidden.

  .settings-table
    width 100%
    margin-bottom 10px

  .header
    padding 10px
    border-bottom 1px solid #B7B7B7
    background-color #E3E3E3
    text-shadow 0 1px 0 #fff
    font-weight bold

    .close
      float right
      // Make it a bigger target for touch interfaces.
      padding 5px 10px
      margin -5px -5px 0 0

      cursor pointer

  .content
    padding 10px
    font-size 12px

  .tab-handles
    margin-bottom 10px
    padding-left 5px
    border-bottom 1px solid #999

  .tab-handle
    display inline-block
    margin-bottom -1px
    padding 5px 10px
    border-radius top 6px
    border 1px solid #999
    color #666
    font-size 14px
    cursor pointer

    &:hover
      background-color #fff

    &.active
      color #000
      border-bottom-color #EDEDED
      box-shadow inset 1px 1px 0 rgba(255,255,255, 1)

  .subtitle
    margin-bottom 5px
    font-size 13px
    text-shadow 0 1px 0 #fff
    font-weight bold

  .label-cell, .control-cell
    padding-bottom 5px
    vertical-align top

  .label-cell
    padding-right 5px
    text-align right

  .editable-label-cell, .editable-display
    padding-top 5px

  .profile-first-column
    width 85px

  .account-first-column
    width 65px

  .checkbox-control-cell
    text-align center

  .image-label-cell
    vertical-align middle

  .avatar-image
    width auto
    height 20px
    vertical-align middle

  .wallpaper-thumbnail-image
    width 45px
    height auto
    max-height 90px
    vertical-align middle


html
  min-height 100%

body
  background-color #E4E7E8
  font-family base-font-family
  overflow hidden

a
  color link-color

input, textarea
  font-family gotham_rounded, Helvetica, Arial, sans-serif


room-sidebar-width = 240px

.navbar
  display none // Initially invisible.
  position fixed
  box-sizing border-box
  width room-sidebar-width
  min-height 52px
  border-top 4px solid #26BE9D
  padding 10px 10px
  background-color app-purple

  a
    color #fff
    text-decoration none

  .nav-link
    display inline-block
    border 2px solid #fff
    border-radius 3px
    padding 10px 25px

    &:hover
      background-color rgba(255,255,255, 0.1)

  .signup-nav-link
    margin-left 20px
    border-color #56C0A5
    background-color #56C0A5

    &:hover
      background-color lighten(#56C0A5, 10%)

.brand
  text-align center

  > a
    color #fff

// Up to landscape phone.
@media (max-width: 480px)
  .brand
    margin-bottom 10px

// body
.logged-out, .join-page
  background-color #E4E6E8
  overflow auto

  .navbar
    display block
    position static
    width auto

  .navbar-centered-content
    // Don't stretch out to the corners of the window.
    max-width 960px
    margin-left auto
    margin-right auto

  .brand
    float left

  #brand-image-wide
    display block

// This is for static pages on mobile like TOS and help.
// body
.static-mobile-layout
  margin 10px

  .page-content
    margin-left auto
    margin-right auto
    max-width 800px

.footer
  margin-top 20px
  font-size 11px
  text-align center

  &.fixed-to-bottom
    position fixed
    bottom 0
    width 100%
    padding 10px

  .app-links
    margin-bottom 10px

  .footer-link
    margin-right 10px
    text-decoration none

    &:hover
      text-decoration underline

.empty-content-page
  text-align center
  margin 20px

@media (max-width: 480px)
  .empty-content-page
    margin-left 10px
    margin-right 10px

.error-page
  .error-title
    margin 20px

  .error-message
    margin 10px
    color #888
    font-size 14px

.form
  border 1px solid #ccc
  border-radius 4px
  padding 10px
  background-color #F8F8F8
  font-size 14px

  .title
    margin-bottom 20px

  input[type=text], input[type=email], input[type=password]
    box-sizing border-box
    width 100%
    margin 0
    border 1px solid #D4D4D4
    padding 6px 11px
    font-size 14px

  .control-group
    margin-bottom 10px

  .form-actions
    text-align right

  .related-link
    float left
    clear left
    color #aaa
    font-size 11px
    text-align left

.signup-form, .login-form
  margin-left auto
  margin-right auto
  padding 20px

  .title
    text-align center

  .facebook-divider
    margin 20px 0 5px 0

  .facebook-or
    margin-bottom 20px

.login-form
  width 214px
  margin-top 20px
  margin-bottom 20px

  .close
    float right
    padding 5px
    color #000
    text-decoration none
    opacity .5

    &:hover
      opacity 1

  .facebook-group
    text-align center

.signup-form
  width 214px
  margin-top 20px
  margin-bottom 20px

  .close
    float right
    color #000
    text-decoration none
    opacity .5

    &:hover
      opacity 1

  .related-link
    font-size 9px

  .facebook-group
    text-align center

.forgot-password-form
  width 280px
  margin 20px

  input[type=text], input[type=email], input[type=password]
    width 254px

.password-reset-form
  width 214px
  margin 20px

  input[type=text], input[type=email], input[type=password]
    width 188px

.join-members-content
  .room-title
    padding 20px
    background-color #E2E3E3

  .dialog-content
    padding 20px
    font-size 12px

  .dialog-actions
    text-align center

  .avatar
    float left
    margin-right 5px

  .room-name-info-container
    margin-top 5px
    margin-left 50px
    text-align left

  .room-topic
    margin-top 5px
    max-width 330px  // Determined experimentally.
    font-size 12px

  .signup-or-login
    margin 20px

    .title
      margin-bottom 10px

  .join-button
    margin 20px
    font-size 16px

  .cancel-link
    color #aaa
    font-size 12px
    text-decoration none

    &:hover
      text-decoration underline

// Home page

.home-page
  background-color app-dark-purple
  background-image url('/images/purple-bkg.png')
  background-size cover
  color #fff
  text-align left

  .navbar
    padding 30px
    background-color transparent

  .home-content, .text-row-content
    max-width 960px
    margin 0 auto

  .home-content
    position relative // For .screenshot.
    padding-bottom 184px

  .title
    margin 25px 0 30px
    max-width 450px
    font-size 40px
    font-weight 300

  .home-download-area
    width 250px
    text-align center

    .app-btn
      margin-bottom 10px
      padding-top 14px
      padding-bottom 14px
      border-radius 4px
      font-size 24px
      font-weight bold

    .signup-link
      color rgba(255,250,255, .4)
      font-size 12px
      text-decoration none

      &:hover
        color rgba(255,240,255, .6)
        text-decoration underline

  .room-key-form-component
    display inline-block

  .room-key-form
    position relative
    color rgba(255,255,255, .6)

  .room-key-input
    dark-purple-round-input()

    width 180px
    margin 0 10px 0 0
    padding 10px 38px
    border-radius 25px
    font-size 12px
    text-align center

  .room-key-icon
    position absolute
    top 8px
    left 50%
    margin-left -88px

    sprites-background()
    sprite-icon()
    background-position -133px -32px
    width 23px
    height 23px

    opacity .7

  .submit-room-key-button
    position absolute
    top 6px
    right 50%
    margin-right -79px
    width 25px
    height 25px
    border-radius 20px
    background-color app-green
    cursor pointer
    text-align center

  .submit-room-key-icon
    sprites-background()
    sprite-icon()
    background-position -121px -9px
    width 20px
    height 20px
    margin-left 3px
    margin-top 4px

  .screenshot
    position absolute
    left 50%
    bottom 0
    margin-left -123px
    width 98% // Leave some margin on small displays.
    height auto
    vertical-align middle

  .text-row
    padding 50px 100px
    text-align left

    &.light-row
      background-color #fff

    &.dark-row
      background-color #EDF0F1

    h3
      margin-bottom 15px
      color #384657
      font-size 27px
      font-weight bold

    p
      max-width 854px
      color #5A7786
      line-height 28px
      font-size 18px

  .big-image
    &.pull-left
      float left
      margin-right 80px
    &.pull-right
      float right
      margin-left 80px

  .footer
    margin-top 0
    padding 40px
    background-color #EDF0F1
    color #5B7887
    font-size 12px

    .footer-link
      color #5B7887

@media (max-width: 897px)
  .home-page
    // At this width there isn't enough room for the screenshot to the right, so
    // move it below.
    .home-content
      margin 0 auto
      padding-bottom 0
      text-align center
    .title
      margin-left auto
      margin-right auto
      text-align center
    .home-download-area
      width 98%
      max-width 250px
      margin 10px auto

    .screenshot
      position static
      margin 10px 0 0 0

@media (max-width: 480px)
  .room-key-form-component
    margin-bottom 10px

  .home-page
    .text-row
      padding-left 20px
      padding-right 20px

      h3
        padding-top 0 !important

    // Center images on their own line.
    .big-image
      display block
      margin 0 auto 10px !important
      float none !important

home-modal-width = 350px
home-modal-horiz-padding = 30px
home-modal-inner-width = home-modal-width - 2 * home-modal-horiz-padding

.home-signup-modal
  width home-modal-width
  height 167px // No room, no email form.
  margin-top -(home-modal-width / 2)
  margin-left -175px
  color #5B6271

  transition-duration 0.1s
  transition-timing-function ease-out
  transition-property height

  .loading
    margin 20px
    text-align center

  .close
    float right
    padding 5px 10px
    color rgba(0,0,0, 0.4)
    text-decoration none

    &:hover
      color rgba(0,0,0, 0.8)

  .room-title
    padding 20px
    background-color #E2E3E3

  .dialog-content
    padding home-modal-horiz-padding
    font-size 12px

  &.is-showing-email-form
    height 250px

    &.has-error
      height 305px

  &.with-room
    height 350px

    &.is-showing-email-form
      height 410px

    .dialog-content
      // Reduce top padding with there's a room title.
      padding-top 10px

  .avatar
    float left
    margin-right 5px

  .room-name-info-container
    margin-top 5px
    margin-left 50px
    text-align left

  .room-name, .members-preview-subtitle
    font-weight bold

  .room-topic
    margin-top 5px
    width 260px  // Determined experimentally.
    overflow ellipsis
    font-size 12px

  .members-preview
    // Undo the right-most .member-preview.
    margin-right -5px

  .members-preview-subtitle
    margin-bottom 10px

  .signup-auth-choice
    position absolute
    width home-modal-inner-width

    transition-duration 0.2s
    transition-timing-function ease-out
    transition-property left, visibility

    &.hidden
      visibility hidden !important
      left -100%

  .or-divider
    text-align center

  &.with-room
    .signup-auth-choice
      bottom 30px // .dialog-content padding-bottom.

  .login-hint
    margin-top 10px
    color rgba(0,0,0, 0.5)
    font-size 10px

  .or-divider
    margin 10px

  .signup-with-facebook-button
    margin-bottom 10px

  .signup-form-component
    position absolute
    left 100%
    bottom 30px // .dialog-content padding-bottom.
    visibility hidden // Initially invisible.

    transition-duration 0.2s
    transition-timing-function ease-out
    transition-property left, visibility

    &.visible
      visibility visible !important
      left 30px

  .home-signup-form
    width home-modal-inner-width
    margin 0
    border-width 0
    padding 0
    background-color transparent

    input[type=text], input[type=password], input[type=email]
      box-sizing border-box
      width 100%
      text-align center

    .alert
      max-height 55px
      overflow hidden

      // Possibly displaying on top of member previews.
      box-shadow 0 0 30px rgba(0,0,0,.6)

      position relative
      top 5px
      opacity 0

      transition-duration 0.2s
      transition-timing-function ease-out
      transition-property opacity, top

      &.visible
        top 0
        opacity 1

  // Facebook button has its own padding thing.
  .app-btn:not(.btn-fb)
    padding-top 10px
    padding-bottom 10px

  .after-actions-link
    margin-top 10px
    text-align left
    font-size 10px

  .back-link
    color rgba(0,0,0, 0.5)
    cursor pointer


.join-page-content
  margin-left auto
  margin-right auto
  margin-bottom 50px
  max-width 800px
  text-align center

  .alert
    margin-top 10px

///////////////////////////////////////////////////////////
// Mobile Install

.mobile-install-dialog
  box-sizing border-box
  width 100%
  height 100%
  position fixed
  left 0
  top 0
  z-index 1100

  border-top 6px solid app-green
  padding 15px
  background-color app-purple
  background-image url('/images/purple-bkg.png')
  background-size cover
  color rgba(255,255,255, 0.8)
  text-align center

  .title
    margin 0 0 50px

  .to-enter
    font-size 20px
    line-height 26px

    &.no-join-code
      margin-bottom 15px

  .join-code
    margin-top 15px
    margin-bottom 15px
    color rgba(255,255,255, 0.95)
    font-size 30px
    font-weight bold

  .app-btn
    padding-top 15px
    padding-bottom 15px
    font-size 20px

  .app-btn:not(.btn-green)
    color rgba(0,0,0, .8)

  .btn-block
    margin-bottom 10px

  .already-text
    margin-bottom 10px
    font-size 12px

///////////////////////////////////////////////////////////

.rooms-sidebar
  position fixed
  top 0
  box-sizing border-box
  width room-sidebar-width
  height 100%
  border-top 3px solid app-green
  background-color app-purple
  background-image url('/images/purple-bkg.png')
  background-repeat no-repeat
  background-size cover

  .logo
    margin-top 10px
    text-align center

.join-text-container
  position relative

  &:after
    content ''
    sprites-background()
    sprite-icon()
    width 12px
    height 12px
    background-position -123px -11px
    opacity .4
    // Center vertically.
    position absolute
    top 0
    bottom 0
    right 20px
    margin auto

  .join-text
    dark-purple-round-input()
    width room-sidebar-width - 2*10px
    padding 6px 21px 6px 11px

.rooms-list
  box-sizing border-box
  width room-sidebar-width
  overflow auto // Scrollable.

.room-list-item
  position relative

  > a
    display block
    overflow hidden

    border-top 1px solid transparent
    border-bottom 1px solid transparent
    padding 10px
    color rgba(254, 255, 255, 0.65)
    text-decoration none

    &:hover
      color #ccc

    &.active
      background-color #3E274D
      color #eee
      border-top-color #2E1C3A
      border-bottom-color #2E1C3A
      box-shadow inset 0 0 1px rgba(255,255,255, 0.2)

  &.unread

    > a
      color #FD7773

  .create-room-icon
    sprites-background()
    sprite-icon()
    width 26px
    height 26px
    background-position -2px -5px
    margin-left 9px

  .room-avatar, .create-room-icon
    float left

  .room-name, .room-status
    margin-left 50px
    // Subtract room avatar width, margins, and room icon width.
    width room-sidebar-width - 50px - 50px
    overflow ellipsis

  .room-name
    margin-top 9px
    font-size 14px

  .create-room-name
    margin-top 6px

  .room-status
    margin-top 5px
    color rgba(254, 255, 255, 0.45)
    font-size 12px

  &.avatars-off
    .room-name, .room-status
      margin-left 20px

    .room-name
      margin-top 0

  .room-door-icon
    // Center vertically.
    position absolute
    top 0
    bottom 0
    margin auto

    right 15px
    sprites-background()
    sprite-icon()
    width 18px
    height 20px
    background-position -115px -34px
    opacity .9

    &.hidden
      display none

  .room-icon.status-icon, .room-avatar
    margin-right 5px

.current-user-status-bar
  position fixed
  display table
  left 0
  bottom 0
  box-sizing border-box
  width room-sidebar-width
  border-top 1px solid #42314C
  background-color app-dark-purple
  color #aaa

.current-user-status-cell
  display table-cell
  border-right 1px solid #34223F
  padding 8px 10px
  cursor pointer // Clickable.

  &:hover
    color #ccc

  // Need this extra nesting since Firefox can't do position relative on a
  // table-cell.
  .current-user-status
    position relative

    &:after
      // Center vertically.
      position absolute
      margin auto
      right -7px
      top 0
      bottom 0

      content: ''
      width 12px
      height 5px
      sprites-background()
      background-position -107px -15px
      opacity .6

    .room-avatar
      float left

  &:hover .current-user-status:after
    opacity 1

  .username, .status-text
    margin-left 50px
    max-width room-sidebar-width - 120px // Subtract the width of the avatar and settings.
    overflow ellipsis
    font-size 12px

  .username
    padding-top 8px

  .status-text
    margin-top 5px
    color rgba(254, 255, 255, 0.45)

  &.avatars-off
    .username, .status-text
      margin-left 20px

    .username
      padding-top 0

.choose-status-menu
  position fixed
  left 5px
  bottom 57px
  width room-sidebar-width + 50px
  visibility hidden // Initially hidden.

.status-text-menu
  position fixed
  left 5px
  bottom 45px
  width room-sidebar-width + 50px
  animation-duration .4s

  > .menu-item
    cursor default

  .new-status-text
    box-sizing border-box
    width 180px
    float left

  .save-status-text-button
    float right
    margin 4px 0 0 0

.settings-icon-cell
  display table-cell
  width 18px
  padding 8px 10px
  text-align right
  vertical-align middle
  cursor pointer

  &:hover > .settings-icon
    opacity 1
    transform rotate(180deg)

.settings-icon
  sprite-icon()
  width 18px
  height 20px
  sprites-background()
  background-position -235px -8px

  opacity .6
  transition transform .2s ease-in-out

  webkit-flashing-fix()

room-content-margin-width = 10px
room-content-margin-height = 10px

.room-content
  position absolute
  top 0
  left room-sidebar-width
  box-sizing border-box
  height 100%
  overflow hidden
  border room-content-margin-width solid transparent
  border-top-width room-content-margin-height
  border-bottom-width room-content-margin-height
  border-radius 6px
  background-color #e4e7e8

  transition left .2s ease-out

  &.lobby
    // In the lobby, we show callouts that overflow.
    overflow visible

.toggle-sidebar-tab
  display none

// At very narrow width, hide most of the rooms sidebar.
//
// If you change these dimensions, you should also change
// `App.RoomsContainerComponent::messagesWidth()`
@media (max-width: 515px)

  .room-content:not(.out-of-the-way)
    left 41px

  .toggle-sidebar-tab
    position fixed
    top 5px
    left 5px
    display block
    padding 8px
    cursor pointer

  .toggle-sidebar-icon
    width 16px
    height 12px
    sprites-background()
    sprite-icon()
    background-position -69px -41px

.modal-form
  margin 20px auto
  padding 10px

  .close
    float right
    // Make it a bigger target for touch interfaces.
    padding 5px 10px
    margin -5px -5px 0 0

    cursor pointer

  .title
    margin-bottom 20px

  input[type=text]
    font-size 14px

  .control-group
    margin-bottom 10px

  .form-actions
    text-align right

.create-room-form
  width 205px
  margin-left -102px // Negative width divided by 2.
  margin-top -67px // Negative height divided by 2.


.lobby-join-room-callout
  position absolute
  top 21px
  left -40px
  box-sizing border-box
  max-width 50%
  overflow ellipsis
  margin 20px
  border 1px solid #ccc
  border-radius 6px
  box-shadow 0 0 3px rgba(0,0,0, 0.15)
  padding 10px 10px 11px
  background-color #f8f8f8

  .arrow
    font-size 18px


.lobby-create-room-callout
  position absolute
  top 66px
  left -26px
  box-sizing border-box
  max-width 50%
  margin 20px
  border 1px solid #ccc
  border-radius 6px
  box-shadow 0 0 3px rgba(0,0,0, 0.15)
  padding 10px 10px 11px
  background-color #f8f8f8

  .arrow
    font-size 18px

@media (max-width: 515px)
  .lobby-join-room-callout, .lobby-create-room-callout
    max-width 80%
    left 0


room-members-sidebar-width = 200px

.room-menu
  position fixed
  right 5px + room-content-margin-width
  top 56px + room-content-margin-height
  width room-members-sidebar-width - 10px
  font-size 14px

  .menu-item
    // Give some extra padding for touch devices since the font is smaller.
    padding-top 8px
    padding-bottom 8px

.invite-dialog
  position absolute
  right 7px
  top 40px
  visibility hidden // Initially invisible.

  width room-members-sidebar-width + 20px

  border 1px solid rgba(0,0,0, .5)
  border-radius 4px
  padding 20px
  background-color #FBFBFB
  box-shadow 0 0 30px rgba(0,0,0, .8)
  text-align center

  .close
    float right
    margin -20px -20px 0 0
    padding 5px 5px
    cursor pointer
    color rgba(0,0,0, .4)

    &:hover
      color rgba(0,0,0, .8)

  .instructions
    margin-bottom 10px
    font-size 14px

  .join-link-container
    margin-bottom 15px

  .join-url-text
    box-sizing border-box
    width 100%
    color #A9A9A9
    font-size 12px

  .copy-icon
    sprite-icon()
    width 22px
    height 24px
    margin-right 3px
    sprites-background()
    background-position -89px -30px

  .copy-to-clipboard-indicator
    position absolute
    top 114px
    right 50px
    padding 5px
    border-radius 3px
    background-color rgba(0,0,0, 0.7)
    color #eee
    font-size 14px
    z-index 1000

    // Animation shows it.
    visibility hidden

.copied-fade-in-out
  animation copied-fade-in-out 1s ease-in-out
  visibility visible !important
  opacity 0

@keyframes copied-fade-in-out
  0%
    transform scale(.6) translateY(0%)
    opacity 0
  25%
    opacity 1
  50%
    opacity 1
  100%
    transform scale(1) translateY(100%)
    opacity 0

.room-members-sidebar
  position absolute
  top 0
  box-sizing border-box
  width room-members-sidebar-width
  height 100%
  overflow hidden
  border 1px solid #C2C7CB
  border-left-width 0
  border-top-right-radius 6px
  border-bottom-right-radius 6px
  background-color #EEF0F0
  font-size 12px
  line-height 1.2em

  &.hidden
    display none !important

  .loading
    margin 5px 10px 10px 10px

  .one-to-one-specific, .room-specific
    &.hidden
      display none

  .one-to-one-specific
    .username
      box-sizing border-box
      width 100%
      max-width none !important // Override rules below.
      padding 10px
      text-align center
    .status-text
      margin 0 10px 10px
      max-height 4.8em !important // Override rules below.

  .title
    padding 5px 10px
    border-top 1px solid #BDC2C7
    border-bottom 1px solid #BDC2C7
    background-color #E5E6E7
    color #3C495A
    font-weight bold

  .room-actions
    box-sizing border-box
    padding 5px
    background-color #EEF0F0
    color #3C495A

    &:hover, &.zeroclipboard-is-hover
      background-color #F8F8F8

  .admin-title
    border-top-width 0
    border-top-right-radius 6px

  .admin-room-actions
    height 29px
    cursor pointer

  .room-settings-icon
    sprite-icon()
    width 20px
    height 22px
    sprites-background()
    background-position -206px -8px

  .invite-button-container
    padding 10px

  .room-members
    overflow auto // Scrollable.

  .room-member-link
    display table
    box-sizing border-box
    width 100%
    padding 5px 10px
    color #000
    font-size 14px
    text-decoration none

    &:hover
      background-color #F8F8F8 !important

  .room-member-avatar-cell, .room-member-info-cell
    display table-cell
    vertical-align top

  .room-member-avatar-cell
    padding-right 5px
    width 10px

  .room-avatar
    vertical-align top

    &:not(.avatars-off)
      width 26px
      height 26px
      border-width 3px

    &.big-one-to-one-avatar
      width room-members-sidebar-width
      height room-members-sidebar-width

  .room-member-info-cell
    padding-top 1px
    text-shadow 0 1px 0 #fff

  .username
    display inline-block
    // Subtract the width of the avatar and margin.
    max-width room-members-sidebar-width - 50px - 5px
    overflow ellipsis

  .avatars-off
    .room-member-avatar-cell
      padding-top 1px
  
    .room-member-info-cell
      padding-top 0

  .status-text, .idle-duration
    box-sizing border-box
    max-height 2.4em
    overflow hidden
    color #A9A9A9
    font-size 12px

  .idle-duration
    white-space nowrap

  .status-text
    white-space pre-wrap // Preserve whitespace.

.room-container
  position absolute
  top 0
  overflow hidden
  border-radius 6px left

  .room-info
    border 1px solid #C2C7CB
    padding 5px
    background-color #EEF0F0
    text-shadow 0 0 3px #fff
    border-top-left-radius 6px

  .room-avatar-permalink
    float left
    margin-right 5px

  .edit-room-name-link, .edit-topic-link
    color #aaa
    font-size 11px
    text-decoration none
    text-shadow none

    &:hover
      text-decoration underline

  .edit-room-name, .edit-topic
    width 70%

  .room-name-info-container, .topic-container
    box-sizing border-box
    padding 2px 5px 2px 0

  .room-name-info-container
    overflow ellipsis

  .room-permalink
    color #0F2035
    font-weight bold
    text-decoration none

    &:hover
      text-decoration underline

  .topic-cell
    // Set explicit height so that it doesn't change when editing topic.
    height 23px

  .topic-container
    // Remove top and bottom padding so we can use it for the text box which
    // takes up more vertical space.
    padding-top 0
    padding-bottom 0

    font-size 13px

  .edit-topic-form
    margin 0
    font-size 12px

  .topic-text
    padding-top 4px
    color #848894

  .room-alert-dialog
    position absolute
    z-index 1 // Show on top of .room-messages-view
    box-sizing border-box
    width 100%
    padding 20px
    text-align center

  .room-alert-content
    display inline-block
    margin 0 auto
    border-radius 6px
    padding 20px 30px
    background-color rgba(255,255,255, .9)

  .room-alert-message
    font-size 16px

  .members-preview-subtitle
    margin-top 15px
    margin-bottom 5px

  .join-button
    margin-top 15px

  .join-form
    margin-top 20px

    .join-button
      margin-top 0

.messages
  // Scrollable.
  overflow auto

  position absolute
  width 100%

  box-sizing border-box
  border-left 1px solid #C2C7CB
  border-right 1px solid #C2C7CB
  background-color #fff

  // When the user sets a custom wallpaper, stretch it keeping the aspect ratio.
  background-size cover

  transition-duration 0.1s
  transition-timing-function ease-out
  transition-property left, visibility

  &.inactive
    left 100%
    visibility hidden

    &.before-cursor
      left -100%

.loading-more-messages
  position absolute
  box-sizing border-box
  width 100px
  margin 0 auto
  padding 7px 10px
  background-color rgba(0,0,0, .05)
  border-radius bottom 6px
  font-size 12px
  text-align center

  transition opacity 0.1s ease-out

  &.hidden
    opacity 0

sender-column-width = 150px

.message
  // border-top 1px solid #E1E1E1
  font-size 14px
  background-color rgba(255,255,255, 0.6)

  .message-table
    width 100%

  .sender-cell, .body-cell
    box-sizing border-box
    padding 5px
    vertical-align top

  .sender-cell
    float left
    width sender-column-width
    font-weight bold
    // border-top 1px solid #fff
    // border-right 1px solid #fff
    // background-color #F7F7F7
    text-align right

  .body-cell
    margin-left sender-column-width + 5px
    // border-left 1px solid #E1E1E1
    background-color rgba(255,255,255, 0.2)

  &.sent-by-you
    background-color hsla(191, 58%, 90%, 0.6)
    // border-color #BFD6EA

    .sender-cell
      // border-color #F3F7FB

    .body-cell
      // border-color #BFD6EA

  &.system-message

    .sender-cell
      border-right-color transparent
      // background-color #fff

    .body-cell
      border-left-color transparent
      background-color rgba(255,255,255, 0.2)
      color #777

  .sender, .message-body
    line-height 20px

  .sender
    padding-right 5px
    cursor pointer // Clickable.

    // Truncate with ellipsis.
    box-sizing border-box
    width 150px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

    color #686868
    font-weight bold

  .expand-indicator
    position absolute
    top 5px
    right 5px
    border-radius 3px
    padding 8px 12px
    background-color rgba(0,0,0, .75)
    color #ddd
    cursor pointer
    opacity .6

    &.expanded
      // When it's expanded, only show it on mouse over.
      display none

  .video-attachment-preview
    position relative
    display inline-block
    // Min dimensions to have enough space for the .expand-indicator needed
    // when the preview image is super tiny or doesn't load.
    min-width 38px
    min-height 30px

    > img
      // Prevent space below the image.
      vertical-align middle

    &:hover
      .expand-indicator
        opacity 1

  .video-attachment
    position relative
    display inline-block

    &.not-displayed
      display none

    &:hover
      .expand-indicator
        display block
        opacity 1

  .video-attachment-video
    max-width 100%
    height auto

  .audio-attachment
    max-width 300px

  .message-body
    overflow hidden
    white-space pre-wrap
    word-wrap break-word

  .mention
    display inline-block
    border 1px solid #C2C7CB
    border-radius 4px
    padding 0 3px

    color #000
    background-color #efefef

    &.you
      border-color #429C88
      color #fff
      background-color #27B99A

  .status
    min-width 48px // This is so it doesn't resize so much and reflow the text.
    float right
    margin 0 0 5px 10px
    color rgba(0,0,0, .25)
    font-size 10px
    text-align right

  .error
    color #b94a48

@media (max-width: 870px)

  .message

    // At narrow width, messages get the full width.
    .sender-cell
      float none
      padding-bottom 0
      text-align left
    .body-cell
      margin-left 0
    .status
      margin-top -19px
    .message-body
      width 100%

// This is used when adding the attachment.
@keyframes attachment-slide-in
  0%
    bottom -100px
  40%
    // Wait a bit without changing anything to wait for the file preview to
    // load.  Otherwise the image preview pops in mid-animation.
    bottom -100px
  60%
    bottom 70px
  80%
    bottom 55px
  100%
    bottom 60px

.attachment-thumbnail
  width 128px
  position absolute
  right 24px
  border 1px solid #BDC3C7
  border-radius 10px
  box-shadow 0 0 20px rgba(0,0,0, .5)
  padding 10px
  background-image linear-gradient(to bottom, #fff, #eee)
  font-size 12px
  text-align center

  bottom -100px
  visibility hidden

  // This is used when removing the attachment.
  transition-timing-function ease-out
  transition-duration .2s
  transition-property bottom, visibility

  &.has-attachment
    transition none // Turn off the other transition.
    animation-name attachment-slide-in
    animation-duration 1.1s
    animation-timing-function ease-in-out
    bottom 60px
    visibility visible

  .remove
    position absolute
    top 3px
    right 3px
    width 18px
    height 18px
    border-radius 50%
    border 1px solid rgba(128,128,128, .5)
    background-color #eee
    cursor pointer
    font-size 17px
    font-weight bold

    &:hover
      background-color #ccc

  .attachment-thumbnail-image
    height auto
    max-width 100%
    max-height 128px

  .filename
    width 100%
    overflow ellipsis

.connecting-status-bar
  position absolute
  right 30px
  bottom 0
  box-sizing border-box
  border 1px solid warning-border-color
  border-top-left-radius 8px
  border-top-right-radius 8px
  box-shadow 0 0 5px rgba(0,0,0,0.13)
  padding 10px 35px
  background-color warning-background-color
  color warning-text-color
  opacity 0.9
  text-align center

  transition bottom 0.3s ease-out

  &.hidden
    display none

.send-message-area
  position absolute
  bottom 0
  box-sizing border-box
  height 52px
  padding 5px
  border 1px solid #C2C7CB
  border-bottom-left-radius 6px
  background-color #EEF0F0

  &.hidden
    display none

  .send-message-text
    box-sizing border-box
    width 300px
    height 40px
    border 1px solid #BDC2C7
    border-radius 6px
    padding 4px 37px 4px 8px
    font-size 12px

    &:focus
      outline 0

  .send-message-file
    display none

  .message-attach-icon
    sprites-background()
    sprite-icon()
    width 24px
    height 24px
    background-position -173px -6px

    position absolute
    top 13px

    cursor pointer

  .send-button
    position absolute
    top 5px
    right 5px
    margin 0
    border 1px solid rgba(0, 0, 20, 0.3)
    padding 10px 17px
    border-radius 6px
    background-color #EEF0F0
    box-shadow inset 0 0 1px rgba(255,255,255, 0.9)
    color #8E929E
    font-size 14px

    &:hover
      background-color lighten(#EEF0F0, 50%)

    &.encrypted-send-button
      background-color app-green
      color #fff

      &:hover
        background-color lighten(app-green, 10%)

      &:after
        content " Encrypted"

    &:active
      outline 0
      box-shadow inset 0 0 8px rgba(0,0,0, 0.5)

.autocomplete
  position absolute
  left 10px
  bottom 54px
  border-radius 6px
  box-shadow 0 0 5px rgba(0,0,0, .2)
  background-color #fff
  overflow hidden
  opacity 0.95

  transition opacity 0.1s ease-in, visibility 0.1s ease-in

  &.hidden
    opacity 0
    visibility hidden

.autocomplete-item
  padding 2px 10px
  cursor pointer

  &.all-item
    padding-left 23px

  &.active
    background-color #417ACE
    color #f0f0f0
