@import 'reset.css'
@import 'nib/text/ellipsis'
@import 'nib/overflow'
@import 'nib/vendor'

link-color = #417ACE

base-line-height = 20px

warning-text-color = #c09853
warning-background-color = #fcf8e3
warning-border-color = darken(adjust(warning-background-color, 'hue', -10), 3%)

error-text-color       = #b94a48
error-background-color = #f2dede
error-border-color     = darken(adjust(error-background-color, 'hue', -10), 3%)

// Mixins

grayscale-image()
  filter url(/images/filters.svg#grayscale) // Firefox 3.5+
  filter gray // IE6-9
  -webkit-filter: grayscale(1) // Chrome, Safari 6+, Opera 15+
  filter: grayscale(100%) // Current draft standard.

disable-grayscale-image()
  filter none
  -webkit-filter: grayscale(0)

///////////////////////////////////////////////////////////
// Animations

.expand-in
  animation-name expand-in
  animation-duration .5s
  animation-timing-function ease-in-out
  visibility visible !important

@keyframes expand-in
  0%
    transform scale(0)
    opacity 0.0
  60%
    transform scale(1.1)
  80%
    transform scale(0.9)
    opacity 1
  100%
    transform scale(1)
    opacity 1

///////////////////////////////////////////////////////////
// Fonts

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-light-webfont.eot');
    src: url('/fonts/gothamrnd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-light-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-light-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-book-webfont.eot');
    src: url('/fonts/gothamrnd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-book-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-book-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-book-webfont.svg#gotham_roundedbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-medium-webfont.eot');
    src: url('/fonts/gothamrnd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-medium-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-medium-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-medium-webfont.svg#gotham_roundedmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_rounded';
    src: url('/fonts/gothamrnd-bold-webfont.eot');
    src: url('/fonts/gothamrnd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-bold-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-bold-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-bold-webfont.svg#gotham_roundedbold') format('svg');
    font-weight: 900;
    font-style: normal;
}

///////////////////////////////////////////////////////////

.pull-left
  float left

.pull-right
  float right

.clearfix
  &:before, &:after
    content ""
    display table
    line-height 0
  &:after
    clear both

.alert
  margin-bottom base-line-height
  border 1px solid warning-border-color
  border-top-left-radius 4px
  border-top-right-radius 4px
  padding 5px 10px
  background-color warning-background-color
  color warning-text-color

.alert-error
  border-color error-border-color
  background-color error-background-color
  color error-text-color

label.checkbox
  cursor pointer

.menu
  position absolute
  display none // Initially hidden.
  box-sizing border-box
  overflow hidden
  background-color #ccc
  border-radius 4px
  box-shadow 0 0 3px rgba(0,0,0, .2)
  z-index 100

  .menu-item
    padding 5px 10px
    cursor pointer

    &:hover:not(.disabled)
      background-color #E0E0E0

  .separator
    height 0
    border 1px solid #888
    border-bottom-color #eee

.disabled
  opacity .6

.status-icon
  display inline-block
  box-sizing border-box
  width 10px
  height 10px

  &.available, &.away, &.idle, &.do_not_disturb, &.unavailable
    border 1px solid rgba(0,0,0, .05)
    border-radius 50%
    box-shadow inset 0 3px 3px rgba(255,255,255, .5), inset 0 -3px 3px rgba(0,0,0, .3), 0 1px 1px rgba(0,0,0, .25)

    transition background-color .5s ease-out

  &.available
    background-color #A2D61C

  &.away, &.idle
    background-color #FDB00D

  &.do_not_disturb
    background-color #DA362A

  &.unavailable
    background-color #BBBBBB

  &.phone:after, &.tablet:after
    content "☎"
    font-size 80%

.emoticon
  height 32px
  width auto
  vertical-align middle

.small-avatar
  height 20px
  width auto
  vertical-align middle

  &.not-displayed, &.avatars-off
    display none

.page-overlay
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  background-color rgba(0,0,0, .75)
  z-index 1000

  transition opacity 0.2s ease-out, visibility 0.2s ease-out

  &.hidden
    visibility hidden
    opacity 0

.modal
  position fixed
  top 50%
  left 50%
  overflow hidden
  z-index 1001 // Higher than .page-overlay
  border-radius 6px
  background-color #EDEDED
  box-shadow 0 0 40px rgba(0,0,0, 1)

.settings-dialog
  dialog-width = 380px
  width dialog-width
  margin-left -(dialog-width / 2)
  margin-top -258px // Negative height divided by 2.
  visibility hidden // Initially hidden.

  .settings-table
    width 100%
    margin-bottom 10px

  .header
    padding 10px
    border-bottom 1px solid #B7B7B7
    background-color #E3E3E3
    text-shadow 0 1px 0 #fff
    font-weight bold

    .close
      float right
      cursor pointer

  .content
    padding 10px
    font-size 12px

  .tab-handles
    margin-bottom 10px
    padding-left 5px
    border-bottom 1px solid #999

  .tab-handle
    display inline-block
    margin-bottom -1px
    padding 5px 10px
    border-radius top 6px
    border 1px solid #999
    color #666
    font-size 14px
    cursor pointer

    &:hover
      background-color #fff

    &.active
      color #000
      border-bottom-color #EDEDED
      box-shadow inset 1px 1px 0 rgba(255,255,255, 1)

  .subtitle
    margin-bottom 5px
    font-size 13px
    text-shadow 0 1px 0 #fff
    font-weight bold

  .label-cell, .control-cell
    padding-bottom 5px
    vertical-align top

  .label-cell
    padding-right 5px
    text-align right

  .editable-label-cell, .editable-display
    padding-top 5px

  .profile-first-column
    width 85px

  .account-first-column
    width 65px

  .checkbox-control-cell
    text-align center

  .image-label-cell
    vertical-align middle

  .avatar-image
    width auto
    height 20px
    vertical-align middle

  .wallpaper-thumbnail-image
    width 45px
    height auto
    max-height 90px
    vertical-align middle


html
  min-height 100%

body
  font-family gotham_rounded, Helvetica, Arial, sans-serif
  overflow hidden

a
  color link-color

room-sidebar-width = 200px

.navbar
  box-sizing border-box
  width room-sidebar-width
  padding 10px 10px 0
  background-color #313947

  a
    color #fff
    text-decoration none

body.logged-out
  background-color #EDEDED
  .navbar
    width auto

.brand
  float left
  margin-bottom 10px
  font-size 16px

  > a
    color #fff

.empty-content-page
  text-align center
  margin 20px

@media (max-width: 480px)
  .empty-content-page
    margin-left 10px
    margin-right 10px

.form
  border 1px solid #ccc
  border-radius 4px
  padding 10px
  background-color #F8F8F8
  font-size 14px

  .title
    margin-bottom 20px

  input[type=text], input[type=email], input[type=password], button
    padding 5px 10px
    font-size 14px

  input[type=text], input[type=email], input[type=password]
    width 188px

  .control-group
    margin-bottom 10px

  .form-actions
    text-align right

  .related-link
    float left
    clear left
    color #aaa
    font-size 11px
    text-align left

.login-form
  width 214px
  margin 20px

  input[type=text], input[type=email], input[type=password]
    width 188px

.signup-form
  width 214px
  margin 20px

  input[type=text], input[type=email], input[type=password]
    width 188px

  .related-link
    font-size 9px

.forgot-password-form
  width 280px
  margin 20px

  input[type=text], input[type=email], input[type=password]
    width 254px

.password-reset-form
  width 214px
  margin 20px

  input[type=text], input[type=email], input[type=password]
    width 188px

.rooms-sidebar
  position fixed
  box-sizing border-box
  width room-sidebar-width
  height 100%
  background-color #313947

.rooms-list
  box-sizing border-box
  width room-sidebar-width
  overflow auto // Scrollable.

.room-list-item

  > a
    display block
    overflow hidden

    border-top 1px solid rgba(255,255,255, .2)
    border-bottom 1px solid rgba(0,0,0, .15)
    padding 10px
    color #aaa
    text-decoration none

    &:hover
      color #ccc

      .close-room
        color #aaa

    &.active
      background-color #242B37
      color #eee
      border-top-color transparent
      border-bottom-color transparent

      .close-room
        color #aaa

  &.unread

    > a
      color #FD7773

  .close-room
    float right
    padding 0 5px
    color #aaa

    &:hover
      color #eee !important

  .room-icon.status-icon, .room-avatar
    margin-right 5px

.current-user-status-bar
  position fixed
  display table
  left 0
  bottom 0
  box-sizing border-box
  width room-sidebar-width
  background-color #3F4755
  color #aaa

.current-user-status
  display table-cell
  padding 10px
  // Clickable.
  cursor pointer

  &:hover
    color #ccc

.choose-status-menu
  position fixed
  left 5px
  bottom 37px
  width room-sidebar-width - 10px

.settings-icon-cell
  display table-cell
  width 18px
  padding 8px 10px
  text-align right
  vertical-align middle
  cursor pointer

  &:hover > .settings-icon
    opacity 1

.settings-icon
  width 18px
  height 20px
  vertical-align middle
  opacity .7

.room-content
  position fixed
  top 0
  width 100%
  height 100%
  margin-left room-sidebar-width
  background-color #EDEDED

.lobby-form
  width 260px
  margin 20px
  border 1px solid #ccc
  border-radius 4px
  padding 10px
  background-color #F8F8F8
  font-size 14px

  .title
    margin-bottom 20px

  input[type=text], button
    font-size 14px

  .control-group
    margin-bottom 10px

  .form-actions
    text-align right

.create-room-form
  input[type=text]
    width 168px

.join-room-form
  input[type=text]
    width 138px

.rooms-table
  margin 20px
  background-color #F0F0F0

  th, td
    border 1px solid #ccc
    padding 5px 10px

  th
    text-align left

  a
    text-decoration none

    &:hover
      text-decoration underline

  .odd td
    background-color #F8F8F8

  .room-name
    min-width 200px

    .topic
      display inline-block
      max-width 200px
      overflow ellipsis
      color #aaa
      font-size 11px
      vertical-align middle

  .cancel
    font-size 10px

.lobby-room-menu
  position absolute


room-members-sidebar-width = 200px

.room-menu
  position fixed
  right 5px
  top 30px
  width room-members-sidebar-width - 10px

.room-members-sidebar
  position fixed
  right 0
  top 0
  box-sizing border-box
  width room-members-sidebar-width
  height 100%
  overflow hidden
  background-color #fff
  font-size 12px
  line-height 1.2em

  .room-actions
    box-sizing border-box
    height 33px
    padding 5px
    background-color #E6E6E6
    text-align right

  .room-actions-icon
    cursor pointer

  .title, .loading
    margin 5px 10px 10px 10px

  .room-members
    overflow auto // Scrollable.

  .room-member > a
    display block
    padding 5px 10px
    color #000
    font-size 14px
    text-decoration none

    &:hover
      background-color #F0F0F0 !important

  .status-text, .idle-duration
    box-sizing border-box
    width 100%
    max-height 2.4em
    overflow hidden
    padding-left 14px // Indent .status-icon width.
    color #A9A9A9
    font-size 11px

  .status-text
    white-space pre-wrap // Preserve whitespace.

.room-container
  position absolute
  overflow hidden

  .room-info
    border 1px solid #B4B4B4
    background-color #E6E6E6

  .edit-topic-link
    color #aaa
    font-size 11px
    text-decoration none

    &:hover
      text-decoration underline

  .edit-topic
    width 70%

  .room-info-table
    width 100%

  .room-name-info-container, .invite-link-container, .topic-container
    box-sizing border-box
    padding 2px 5px

  .room-name-info-container
    overflow ellipsis

  .room-permalink
    text-decoration none

  .invite-link-container
    overflow ellipsis
    text-align right

  .topic-cell
    // Set explicit height so that it doesn't change when editing topic.
    height 23px
    // Center vertically.
    vertical-align middle

  .topic-container
    // Remove top and bottom padding so we can use it for the text box which
    // takes up more vertical space.
    padding-top 0
    padding-bottom 0

    font-size 13px

  .edit-topic-form
    margin 0
    font-size 12px

.messages
  // Scrollable.
  overflow auto

  position absolute
  width 100%

  box-sizing border-box
  border-left 1px solid #B4B4B4
  border-right 1px solid #B4B4B4
  background-color #fff

  transition left 0.1s ease-out

  &.inactive
    left 100%

    &.before-cursor
      left -100%

.loading-more-messages
  position absolute
  box-sizing border-box
  width 100px
  margin 0 auto
  padding 7px 10px
  background-color rgba(0,0,0, .05)
  border-radius bottom 6px
  font-size 12px
  text-align center

  transition opacity 0.1s ease-out

  &.hidden
    opacity 0

.message
  // border-top 1px solid #E1E1E1
  font-size 14px

  .message-table
    display table
    width 100%
    border-collapse separate

  .sender-cell, .body-cell
    display table-cell
    padding 5px
    vertical-align top

  .sender-cell
    width 150px
    font-weight bold
    // border-top 1px solid #fff
    // border-right 1px solid #fff
    // background-color #F7F7F7
    text-align right

  // .body-cell
  //   border-left 1px solid #E1E1E1

  &.sent-by-you
    // border-color #BFD6EA

    .sender-cell
      // border-color #F3F7FB
      background-color hsla(213, 50%, 87%, .5)

    .body-cell
      // border-color #BFD6EA
      background-color hsla(209, 49%, 94%, 0.5)

  &.system-message

    .sender-cell
      border-right-color transparent
      // background-color #fff

    .body-cell
      border-left-color transparent
      color #777

  .sender, .message-body
    line-height 20px

  .sender
    padding 0 5px
    cursor pointer // Clickable.

    // Truncate with ellipsis.
    box-sizing border-box
    width 150px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

    color #686868
    font-weight bold

  .message-body
    overflow hidden
    white-space pre-wrap
    word-wrap break-word

  .mention
    border 1px solid #B4B4B4
    border-radius 4px
    padding 0 3px

    color #000
    background-color #efefef

    &.you
      border-color #4A84BD
      color #fff
      // Gradient.
      background-color #6E9EC3
      background linear-gradient(to bottom, #6E9EC3, #4A84BD)

  .status
    min-width 48px // This is so it doesn't resize so much and reflow the text.
    float right
    margin 0 0 5px 10px
    color #ccc
    font-size 10px
    text-align right

  .error
    color #b94a48

.connecting-status-bar
  position absolute
  right 30px
  bottom 0
  box-sizing border-box
  border 1px solid warning-border-color
  border-top-left-radius 8px
  border-top-right-radius 8px
  box-shadow 0 0 5px rgba(0,0,0,0.13)
  padding 10px 35px
  background-color warning-background-color
  color warning-text-color
  opacity 0.9
  text-align center

  transition bottom 0.3s ease-out

.send-message-area
  position absolute
  bottom 0
  box-sizing border-box
  height 45px
  padding 5px
  border 1px solid #B4B4B4
  border-bottom 0
  background-color #E6E6E6

  .send-message-text
    width 300px
    height 27px
    font-size 12px

    &:focus
      outline 0

  .send-message-file-button
    position absolute
    top 5px
    margin 0
    padding 8px
    font-size 14px
    width 70px

  .send-message-file
    display none

  .send-button
    position absolute
    top 5px
    right 5px
    margin 0
    padding 8px
    font-size 14px

    &.encrypted-send-button
      background-color #00A053

      &:after
        content " Encrypted"

.autocomplete
  position absolute
  left 10px
  bottom 54px
  border-radius 6px
  box-shadow 0 0 5px rgba(0,0,0, .2)
  background-color #fff
  overflow hidden
  opacity 0.95

  transition opacity 0.1s ease-in, visibility 0.1s ease-in

  &.hidden
    opacity 0
    visibility hidden

.autocomplete-item
  padding 2px 10px
  cursor pointer

  &.all-item
    padding-left 23px

  &.active
    background-color #417ACE
    color #f0f0f0

  strong
    font-weight bold
