@import 'reset.css'

link-color = #417ACE

.clearfix
  &:before, &:after
    content ""
    display table
    line-height 0
  &:after
    clear both

html
  min-height 100%

body
  margin 10px 10px 0 10px
  font-family Helvetica, Arial, sans-serif

a
  color link-color

.brand
  margin-bottom 10px
  font-size 16px

  > a
    color link-color
    text-decoration none

.empty-content-page
  text-align center
  margin-top 20px
  margin-bottom 20px

room-sidebar-width = 200px

.rooms-sidebar
  position fixed

.rooms-list
  width room-sidebar-width

.room-list-item
  margin 10px 0

  > a
    display block
    width 200px
    overflow hidden

    border 1px solid #ccc
    border-radius 3px
    padding 10px
    background-color #eee
    color #888
    text-decoration none

    &:hover
      background-color #f8f8f8

.room-content
  margin-left room-sidebar-width + 40px

room-members-sidebar-width = 150px

.room-members-sidebar
  position fixed
  right 10px
  width room-members-sidebar-width
  overflow hidden

  .room-member
    color #999
    font-size 12px
    line-height 1.2em

.room-container
  margin-right room-members-sidebar-width + 20px

  .room-info
    border 1px solid #B4B4B4
    background-color #E6E6E6

  .room-info-table
    width 100%

    td
      padding 2px 5px

  .room-permalink
    text-decoration none

  .invite-link
    text-align right

.messages
  // Scrollable.
  overflow auto

  box-sizing border-box
  border-left 1px solid #B4B4B4
  border-right 1px solid #B4B4B4

.message
  border-top 1px solid #ccc
  font-size 14px

  .message-table
    width 100%

  .sender-cell, .body-cell
    padding 7px 5px 5px 5px

  .sender-cell
    width 150px
    background-color #f0f0f0
    text-align right

  .sender
    box-sizing border-box
    width 150px
    height 1.2em
    padding 0 5px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  .status
    float right
    margin 0 0 5px 10px
    color #ccc
    font-size 10px

.send-message-area
  position absolute
  bottom 5px
  box-sizing border-box
  height 45px
  padding 5px
  border 1px solid #B4B4B4
  border-bottom 0
  background-color #E6E6E6

  .send-message-text
    width 300px
    height 27px
    font-size 12px

  .send-button
    position relative
    top -11px
    padding 8px
    font-size 14px
