_ = require 'underscore'

exports.getConfig = (env, app, express) ->
  defaults =
    # The name or title of the app that's displayed to users.
    displayTitle: 'skymob'
    # The directory to use for views when serving static pages that are specific
    # to this app, like the legal pages.
    appStaticViewsDirectory: 'skymob/'
    # Secret shared with the API.
    apiSecret: null
    # If this is present, media URLs (i.e. user-generated content, not web
    # server built-in assets) are re-written to use this protocol and host when
    # https is needed.  e.g. "https://something123.cloudfront.net"
    sslMediaHost: null
    # Set to true to actually send analytics to 3rd party services like Google
    # Analytics GA.  When false, it's just logged to the browser console.
    useAnalytics: false
    # The domain used for analytics and sent to 3rd party services like Google
    # Analytics GA.
    analyticsDomainName: 'skymob.co'
    # The Google Analytics GA account when running in a web browser.
    googleAnalyticsWebAccount: 'UA-34895126-6'
    # The Google Analytics GA account when running in the Mac app.
    googleAnalyticsMacAppAccount: 'UA-34895126-7'
    # Email address displayed for users to contact support.
    supportEmailAddress: 'support@skymob.co'
    # Desktop Mac app link.  Can be absolute or relative to the web app.  Use
    # `null` if there is no Mac app.
    #
    # Note: this doesn't control where it's actually hosted.
    macAppDownloadUrl: '/downloads/skymob.pkg'
    # Mobile app store links.
    iosAppInstallUrl: 'https://itunes.apple.com/us/app/skymob-best-app-for-group/id778593574?ls=1&mt=8'
    androidAppInstallUrl: 'https://play.google.com/store/apps/details?id=co.skymob'
    # Protocol used to launch the mobile apps.  The part before the colon, e.g.
    # use the string "skymob" for "skymob://groups".
    iosAppLaunchProtocol: 'skymob'
    androidAppLaunchProtocol: 'skymob'
    # Auto-redirect to app store on mobile platforms when landing on home page.
    autoRedirectToIosInstall: true
    autoRedirectToAndroidInstall: false
    # When truthy, hides the UI to attach file to messages.
    disallowFileUpload: true
    # When truthy, hides the UI to create and join groups.
    disallowGroups: true
    # When truthy, messages are displayed on /view/:group_id.  Otherwise, it
    # just tells the user to use the app.
    showMessages: true
    # When truthy, allows authentication with Facebook.
    useFacebookAuth: false

  envConfig = switch env
    when 'development'
      apiHostname: 'testing-api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://testing-api.skymob.co:8080'
      webServerProtocolAndHost: 'http://localhost:3001'
      facebookAppId: '590925707640079'
      redirectHttpToHttps: false
    when 'staging'
      apiHostname: 'testing-api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://testing-api.skymob.co:8080'
      webServerProtocolAndHost: 'http://staging.skymob.co'
      facebookAppId: '590925707640079'
      redirectHttpToHttps: false
    when 'production'
      apiHostname: 'api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://api.skymob.co:8080'
      webServerProtocolAndHost: 'http://www.skymob.co'
      facebookAppId: '247703948717943'
      sslMediaHost: 'https://ddytkvq26chic.cloudfront.net'
      redirectHttpToHttps: true
      useAnalytics: true

  _.extend defaults, envConfig
