_ = require 'underscore'

exports.getConfig = (env, app, express) ->
  defaults =
    # The name or title of the app that's displayed to users.
    displayTitle: 'skymob'
    # If this is present, media URLs (i.e. user-generated content, not web
    # server built-in assets) are re-written to use this protocol and host when
    # https is needed.  e.g. "https://something123.cloudfront.net"
    sslMediaHost: null
    # Set to true to actually send analytics to 3rd party services like Google
    # Analytics GA.  When false, it's just logged to the browser console.
    useAnalytics: false
    # The domain used for analytics and sent to 3rd party services like Google
    # Analytics GA.
    analyticsDomainName: 'skymob.co'
    # The Google Analytics GA account when running in a web browser.
    googleAnalyticsWebAccount: 'UA-34895126-6'
    # The Google Analytics GA account when running in the Mac app.
    googleAnalyticsMacAppAccount: 'UA-34895126-7'

  envConfig = switch env
    when 'development'
      apiHostname: 'testing-api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://testing-api.skymob.co:8080'
      webServerProtocolAndHost: 'http://localhost:3001'
      facebookAppId: '590925707640079'
      redirectHttpToHttps: false
    when 'staging'
      apiHostname: 'testing-api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://testing-api.skymob.co:8080'
      webServerProtocolAndHost: 'http://staging.skymob.co'
      facebookAppId: '590925707640079'
      redirectHttpToHttps: false
    when 'production'
      apiHostname: 'api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://api.skymob.co:8080'
      webServerProtocolAndHost: 'http://www.skymob.co'
      facebookAppId: '247703948717943'
      sslMediaHost: 'https://ddytkvq26chic.cloudfront.net'
      redirectHttpToHttps: true
      useAnalytics: true

  _.extend defaults, envConfig
