exports.getConfig = (env, app, express) ->
  switch env
    when 'development'
      apiHostname: 'testing-api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://testing-api.skymob.co:8080'
      webServerProtocolAndHost: 'http://localhost:3001'
      facebookAppId: '590925707640079'
      # If this is a host, media URLs (i.e. user-generated content, not web
      # server built-in assets) are re- written to use this host when https is
      # needed.
      sslMediaHost: null
    when 'staging'
      apiHostname: 'testing-api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://testing-api.skymob.co:8080'
      webServerProtocolAndHost: 'http://staging.skymob.co'
      facebookAppId: '590925707640079'
      sslMediaHost: null
    when 'production'
      apiHostname: 'api.skymob.co'
      apiPort: 443
      # Host is "hostname:port"
      fayeProtocolAndHost: 'https://api.skymob.co:8080'
      webServerProtocolAndHost: 'http://www.skymob.co'
      facebookAppId: '247703948717943'
      sslMediaHost: 'https://ddytkvq26chic.cloudfront.net'
