extends ../mobile-layout

block head-content
  |  <style type="text/css">
  |    p { margin: 0 0 10px; }
  |    strong, b { font-weight: bold; }
  |    ul { margin: 0 0 10px 25px; }
  |  </style>

block content
  | <p style="text-align:center"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Free Foto Messenger</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold"> Privacy Policy</span></p>
  | <p style="text-align:center"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Last Updated: </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">April 1, 2014</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Protecting your privacy is 
  | really important to Perceptual Networks. Accordingly, we’re providing 
  | this Privacy Policy to explain our practices regarding the collection, 
  | use and disclosure of informati</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">on that we receive when you use our Services (as 
  | defined in our Free Foto Messenger Terms of Service, accessible at </span><a href="http://ffm.fm/legal/tos" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm/legal/tos</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> ). This Privacy Policy applies only to those websites, services and 
  | applications included within “Services” and doesn’t apply to any 
  | third-party websites, services or applications, even if they are accessible 
  | through our Services. Also, please note that, unless we define a term 
  | in this Privacy Policy, all capitalized words used in this Privacy Policy 
  | have the same meanings as in our Terms of Service.</span></p>
  | <p style="margin-bottom:6pt"> </p>
  | <p style="margin-bottom:6pt;text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">How do we collect and use 
  | information?</span></p>
  | <p style="margin-bottom:6pt;text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Our primary goals in collecting information are to provide and improve 
  | our Services, to administer your use of the Services, and to enable 
  | you to enjoy and easily navigate our Services.</span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Account Information</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. An Account is not required to use the service.  And, in general, 
  | we do not collect  information that can be used to identify you, such 
  | as your name and email address (“<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Personally Identifiable Information</span>” 
  | or “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">PII</span>”). If you choose 
  | to share Content directly from our services through one of your SNS 
  | Accounts, you may have to provide us with your username (or userID) 
  | so that your identity can be authenticated by the SNS Account. When 
  | the authentication is complete, we’ll be able to link your Account 
  | with the SNS Account and access certain PII, such as your name and email 
  | address, and other PII that your privacy settings on the SNS Account 
  | permit us to access. We don’t receive or store passwords for any of 
  | your SNS Accounts.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information Collected 
  | Using Cookies</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. We collect certain information through the use 
  | of “cookies,” which are small text files that are saved by your 
  | browser when you access our Services. We may use both session cookies 
  | and persistent cookies to identify that you’ve logged in to the Services 
  | and to tell us how and when you interact with our Services. We may also 
  | use cookies to monitor aggregate usage and web traffic routing on our 
  | Services and to customize and improve our Services. Unlike persistent 
  | cookies, session cookies are deleted when you log off from the Services 
  | and close your browser. Although most browsers automatically accept 
  | cookies, you can change your browser options to stop automatically accepting 
  | cookies or to prompt you before accepting cookies. Please note, however, 
  | that if you don’t accept cookies, you may not be able to access all 
  | portions or features of the Services. Some third-party services providers 
  | that we engage (including third-party advertisers) may also place their 
  | own cookies on your browser. Note that this Privacy Policy covers only 
  | our use of cookies and does not include use of cookies by such third 
  | parties. </span></p>
  | <p style="margin-bottom:7pt" style="text-decoration:none"> </p>
  | <p style="margin-top:0pt;margin-bottom:7pt;margin-right:7pt;text-align:justify"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Web Beacons</span></span></p>
  | <p style="margin-top:0pt;margin-bottom:7pt;margin-right:7pt;text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">We also use &quot;web beacons,&quot; &quot;pixel 
  | tags,&quot; &quot;clear GIFs&quot; or similar means (individually or 
  | collectively &quot;</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;font-style:normal">Web Beacons</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">&quot;) on our Services. A Web Beacon is an electronic 
  | image, often a single pixel, embedded on web pages. Web Beacons are 
  | ordinarily not visible to users. Web Beacons allow us to count the number 
  | of users who have visited certain pages of the Services, to deliver 
  | branded services and to generate statistics about how our Services are 
  | used. </span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information Related to 
  | Use of the Services</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. Our Services automatically record certain information 
  | about how a person uses our Services (we refer to this information as 
  | “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Log Data</span>”), including 
  | both Account holders and non-Account holders (either, a “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">User</span>”). Log Data may 
  | include information such as a User’s Internet Protocol (IP) address, 
  | mobile device identification number (if you access the Services via 
  | a mobile device), browser type, operating system, the web page that 
  | a User was visiting before accessing our Services, the pages or features 
  | of our Services to which a User browsed and the time spent on those 
  | pages or features, search terms, content load times, notification delivery 
  | status, the links on our Services that a User clicked on and other statistics. 
  | We use this information to administer the Services and we analyze (and 
  | may engage third parties to analyze) this information to improve and 
  | enhance the Services by expanding their features and functionality and 
  | tailoring them to our Users’ needs and preferences. We may use a person’s 
  | IP address to fight spam, malware and identity theft. We also use the 
  | IP Address to generate aggregate, non-identifying information about 
  | how our Services are used. </span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">We use Google Analytics and Flurry Analytics to collect, 
  | monitor and analyze Log Data in order to increase our Services’ functionality 
  | and user-friendliness, and to better tailor our Services to our visitors’ 
  | needs.  We also use this information to verify that visitors to 
  | the Services meet the criteria required to process their requests.  
  | Accordingly, Log Data is shared with Google and Flurry, which have their 
  | own privacy policies (accessible at </span><a href="http://www.google.com/policies/privacy/" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline;color:#000000">http://www.google.com/<WBR>policies/privacy/</span></span></a><a name="0.1__DV_M37"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> and </span><a href="http://www.flurry.com/about-us/legal/privacy.html" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline;color:#000000">http://www.flurry.com/about-<WBR>us/legal/privacy.html</span></span></a><a name="0.1__DV_M38"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> respectively) addressing how these parties use such information.  
  | You may opt out of Flurry Analytics tracking and personalized ads/recommendations 
  | from Flurry by clicking </span><a href="http://www.flurry.com/resources/privacy.html" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline;color:#000000">here</span></span></a><a name="0.1__DV_M39"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">.  Please note that the opt-out is specific to Flurry activities 
  | and does not affect the activities of other ad networks or analytics 
  | providers.</span><span style="font-size:11pt">  </span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Location Information</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. In some cases we collect and store information about where you are 
  | located, such as by converting your IP address into a rough geolocation 
  | or via your mobile device GPS information. We may use location information 
  | to improve and personalize our Services for you.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">What Information Do We Share With 
  | Third Parties?</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">We will not share any PII 
  | that we have collected from you except as described below:</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Free Foto Messenger Users</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. If you choose to share Content via an SNS Account directly or via 
  | hosting at </span><a href="http://ffm.fm" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">, other Users may see information from your SNS Account associated 
  | with your content, such as your username and/or account photo from the 
  | SNS Account.  </span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information Shared with 
  | Our Services Providers</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. We may engage third party service providers to 
  | work with us to administer and provide the Services and to manage transactions 
  | made via the Services. These third-party services providers have access 
  | to your PII only for the purpose of performing services on our behalf 
  | and are expressly obligated not to disclose or use your PII for any 
  | other purpose.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information Shared with 
  | Third Parties</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. We may share aggregated information and non-identifying 
  | information with third parties for industry analysis, demographic profiling 
  | and other similar purposes.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information Disclosed 
  | in Connection with Business Transactions</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. Information that we collect from our users, including 
  | PII, is considered to be a business asset. As a result, if we go out 
  | of business or enter bankruptcy or if we are acquired as a result of 
  | a transaction such as a merger, acquisition or asset sale, your PII 
  | may be disclosed or transferred to the third-party acquirer in connection 
  | with the transaction.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information Disclosed 
  | for Our Protection and the Protection of Others</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. It is our policy to protect you from having your 
  | privacy violated through abuse of the legal systems, whether by individuals, 
  | entities or government, and to contest claims that we believe to be 
  | invalid under applicable law. However, it is also our policy to cooperate 
  | with government and law enforcement officials and private parties. Accordingly, 
  | we reserve the right to disclose any information about you to government 
  | or law enforcement officials or private parties as we, in our sole discretion, 
  | believe necessary: (i) to satisfy or comply with any applicable law, 
  | regulation or legal process or to respond to lawful requests, including 
  | subpoenas, warrants or court orders; (ii) to protect our property, rights 
  | and safety and the rights, property and safety of third parties or the 
  | public in general; and (iv) to prevent or stop activity we consider 
  | to be illegal or unethical.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Information We Disclose 
  | With Your Consent or at Your Request</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. We will share your PII with third-party sites or 
  | platforms, such as social networking sites, if you have expressly requested 
  | that we do so.</span></p>
  | <p style="text-decoration:none"> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">The Security of Your Information</span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">We take reasonable measures 
  | to protect the information that we</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> collect from or about you (including your PII) from 
  | unauthorized access, use or disclosure. Please be aware, however, that 
  | no method of transmitting information over the Internet or storing information 
  | is completely secure. Accordingly, we cannot guarantee the absolute 
  | security of any information. </span></p>
  | <p> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Links to 
  | Other Sites</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Our Services may contain links 
  | to other websites and services. Any information that you provide on 
  | or to a third-party website or service is provided directly to the owner 
  | of the website or</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> service and is subject to that party&#39;s privacy policy. 
  | Our Privacy Policy does not apply to such websites or services and we’re 
  | not responsible for the content, privacy or security practices and policies 
  | of those websites or services. To protect your information we recommend 
  | that you carefully review the privacy policies of other websites and 
  | services that you access.</span></p>
  | <p> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Modifying Your Information</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">To remove any PII stored on 
  | your mobile device, you can simply delete the mobile application.  
  | Any User Content </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">shared to an SNS Account must be deleted via your 
  | direct use of that account.  Any User Content hosted at </span><a href="http://ffm.fm" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">, cannot currently be deleted.</span></p>
  | <p> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">International Transfer</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;color:#000000">Your PII may be transferred to, and 
  | maintained on, computers located outside of your state, province, country 
  | or other governmental jurisdiction where the privacy laws may not be 
  | as protective as those in your jurisdiction. </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">If you’re located outside the United States and 
  | choose to provide your PII to us, we may transfer your PII to the United 
  | States and process it there. </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;color:#000000">  </span></span></p>
  | <p> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Our Policy Toward Children</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Our Services are not directed to children under 13 
  | and we do not knowingly collect PII from children under 13. If we learn 
  | that we have collected PII of a child under 13 we will take steps to 
  | delete such information from our files as soon as possible.</span></p>
  | <p> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Changes to Privacy Policy</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Any information that we collect is subject to the 
  | privacy policy in effect at the time such information is collected. 
  | We may, however, modify and revise this Privacy Policy from time to 
  | time. If we make any material changes to this Privacy Policy, we’ll 
  | notify you of such changes by posting them on the Services or by sending 
  | you an email or other notification, and we’ll indicate when such changes 
  | will become effective.</span></p>
  | <p> </p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Questions?</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Please contact us at <a href="mailto:privacy@perceptualnet.com" target="_blank">privacy@perceptualnet.com</a> if 
  | you have any questions about our Privacy Policy.</span></p>
