extends ../mobile-layout

block head-content
  |  <style type="text/css">
  |    p { margin: 0 0 10px; }
  |    strong, b { font-weight: bold; }
  |    ul { margin: 0 0 10px 25px; }
  |  </style>

block content
  | <p><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">PERCEPTUAL NETWORKS COPYRIGHT 
  | POLICY</span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Notification </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">of</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> Copyright Infringement</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">:</span></span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Perceptual Networks, Inc. 
  | (“</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Perceptual Networks</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">”) respects the intellectual property rights of 
  | others and expects its users to do the same.  </span></p>
  | <p style="text-align:justify"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">It is </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Perceptual Networks’</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> policy, in 
  | appropriate circumstances and at its discretion, to disable and/or terminate 
  | the accounts of subscribers and account holders who repeatedly infringe 
  | the copyrights or other intellectual property rights of others.</span></span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">In accordance with the Digital Millennium Copyright 
  | Act of 1998, the text of which may be found on the U.S. Copyright Office 
  | website at <a href="http://www.copyright.gov/legislation/dmca.pdf" target="_blank">http://www.copyright.gov/<WBR>legislation/dmca.pdf</a>, Perceptual 
  | Networks will respond expeditiously to claims of copyright infringement 
  | committed using the KrazyKam.com website</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> or other 
  | online network accessible through a mobile device or other type of device 
  | (collectively, the “<span style="font-weight:bold;text-decoration:none;color:#000000">Site</span>”) </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">that are reported to Perceptual Networks’ Designated 
  | Copyright Agent, identified in the sample notice below. </span></p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">If you are a copyright owner, or are authorized to 
  | act on behalf of one, or authorized to act under any exclusive right 
  | under copyright, please report alleged copyright infringements taking 
  | place on or through the </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Site</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> by completing the following DMCA Notice of Alleged 
  | Infringement and delivering it to Perceptual Networks’ Designated 
  | Copyright Agent (contact information below).  Upon receipt of</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> the</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> Notice as described below, Perceptual Networks will 
  | take whatever action, in its sole discretion, it deems appropriate, 
  | including removal of or disabling access to the challenged </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">material</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> at the Site.</span></p>
  | <h2 style="text-align:justify;text-indent:0pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">DMCA Notice 
  | of Alleged Infringement (“<span style="font-weight:bold;text-decoration:none;color:#000000">Notice</span>”)</span></span></h2>
  | <p style="text-decoration:none"> </p>
  | <p style="margin-left:36pt;text-indent:36pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">1. Identify 
  | the copyrighted work that you claim has been infringed, or - if multiple 
  | copyrighted works are covered by this Notice - you may provide a representative 
  | list of the copyrighted works that you claim have been infringed.</span></span></p>
  | <p style="margin-left:36pt;text-indent:36pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">2. Identify 
  | the material that you claim is infringing or a reference or link to 
  | material that you claim to be infringing (or to be the subject of infringing 
  | activity) and that is to be removed or access to which is to be disabled, 
  | and provide information reasonably sufficient to permit us to locate 
  | the material or reference or link, including at a minimum, if applicable, 
  | the URL of the link shown on the Site where such material may be found. </span></span></p>
  | <p style="margin-left:36pt;text-indent:36pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">3. Provide 
  | your mailing address, telephone number, and, if available, email address.</span></span></p>
  | <p style="text-indent:72pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">4. Include 
  | both of the following statements in the body of the Notice, if they 
  | are true:</span></span></p>
  | <ul><ul>
  | <ul style="list-style:disc">
  |   <li style="margin-left:0pt;text-indent:0pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">“</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">I hereby state 
  |   that I have a good faith belief that th</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">e disputed 
  |   use of the copyrighted material or reference or link to such material 
  |   is not authorized by the copyright owner, its agent, or the law (e.g., 
  |   as a fair use).</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">”</span></span></li>
  |   <li style="margin-left:0pt;text-indent:0pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">“</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">I hereby state 
  |   that the information in this Notice is accurate and, under penalty of 
  |   p</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">erjury, that 
  |   I am the owner, or authorized to act on behalf of the owner, of the 
  |   copyright or of an exclusive right under the copyright that is allegedly 
  |   infringed.</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">”</span></span></li>
  | </ul>
  | </ul></ul>
  | <p style="text-indent:72pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">5. Provide 
  | your full legal name and your electronic or physical signature.</span></span></p>
  | <p style="text-indent:72pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Deliver this 
  | Notice, with all items completed, to </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-style:normal">Perceptual Networks’</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> Designated 
  | Copyright Agent:</span></span></p>
  | <p style="margin-left:36pt;text-indent:0pt"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Copyright 
  | Agent <br>
  | c/o </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Perceptual Networks, Inc.</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> <br>
  | 206 S 4<sup>th</sup> St  <br>
  | Philadelphia, PA  19106 <br>
  | <a href="mailto:copyright@perceptualnet.com" target="_blank">copyright@perceptualnet.com</a></span></span></p>
  | <p> </p>
