{{#if App.isLoggingIn}}
  <p class='empty-content-page'>Loading...</p>
{{else}}
  <div class='navbar'>
    <div class='brand'>
      {{#link-to 'index'}}
        <img src='/images/logo.png' alt='{{unbound App.title}}' style='width: 49px; height: auto;'>
      {{/link-to}}
    </div>
    {{#unless isLoggedIn}}
      <div class='pull-right'>
        {{#link-to 'login'}}Log In{{/link-to}}
      </div>
    {{/unless}}
    <div class='clearfix'></div>
  </div>
  {{outlet}}

  {{outlet 'modal'}}
{{/if}}
