{{#if App.isLoggingIn}}
  <p class='empty-content-page'>Loading...</p>
{{else}}
  <div class='navbar'>
    <div class='brand'>{{#link-to 'rooms.index'}}Chat App{{/link-to}}</div>
    {{#if isLoggedIn}}
      <div class='pull-right'><a href='#' {{action 'logOut'}}>Log Out</a></div>
    {{/if}}
    <div class='clearfix'></div>
  </div>
  {{outlet}}
{{/if}}
