<div class='home-content'>

  <h1 class='title'>
    {{! Note: if you're changing this, remember to also change the noscript
      and meta tags. }}
    Free Group Chat that Works <strong>Anywhere</strong>
  </h1>

</div>

{{footer-bar showAppLinks=true}}
