<div class='empty-page-content join-page-content'>
  {{#if userMessage}}
    <div class='alert alert-error'>
      {{userMessage}}
    </div>
  {{/if}}
  <div class='text-content'>
    {{#if isLoading}}
      Loading...
    {{else}}
      {{link-to 'Go Back to Chat' 'index'}}
    {{/if}}
  </div>
</div>

{{footer-bar}}
