<div class='empty-page-content join-page-content'>
  {{#if userMessage}}
    <div class='alert alert-error'>
      {{userMessage}}
    </div>
  {{/if}}
  {{#if isLoading}}
    <div class='loading'>Loading...</div>
  {{/if}}
  {{link-to 'Go Back to Chat' 'index'}}
</div>

{{footer-bar}}
