<h1>Login</h1>

{{! Use a form tag to capture enter key. }}
<form class='login' {{action 'attemptLogin' on='submit'}}>
  <div>
    {{input type='email' value=email}}
  </div>
  <div>
    {{input type='password' value=password}}
  </div>
  <div>
    <button type='submit' {{bind-attr disabled='isLoginDisabled'}}>Log In</button>
  </div>
</form>
