extends ../mobile-layout

block head-content
  |  <style type="text/css">
  |    p { margin: 0 0 10px; }
  |    strong, b { font-weight: bold; }
  |    ul { margin: 0 0 10px 25px; }
  |  </style>


block content
  | <p style="text-align:center"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Free Foto Messenger</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold"> Terms of Service</span></p>
  | <p style="text-align:center"><a name="0.3__DV_M1"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Last Updated: April 1, 2014</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M2"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Welcome to</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> Free Foto Messenger! Perceptual Networks, Inc. (“<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Perceptual</span>”) provides 
  | FFM, our</span><a name="0.3__DV_C6"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> 
  | photo and video messaging application </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">via our website located at </span><a href="http://www.ffm.fm/" style="text-decoration:none" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">www.ffm.fm</span></span></a><a name="0.3__DV_M4"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> (the “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Site</span>”) and our mobile 
  | device </span><a name="0.3__DV_C8"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">applications 
  | (the “<span style="font-weight:bold;text-decoration:none;color:#000000">Apps</span>”).</span></span><a name="0.3__DV_M5"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> Please read these Terms of Service (the “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Terms</span>”) carefully because 
  | they govern your use of our Site and<a name="0.3__DV_C10"></a> </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M6"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. To make these Terms easier to read, the Site, our services and </span><a name="0.3__DV_C12"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M7"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> are collectively called the “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Services</span>.”</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M9"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Agreement to Terms</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M10"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">By using our Services, you agree to be bound by these Terms. If you 
  | don’t agree to these Terms, do not use the Services.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M11"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Changes to Terms or Services</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M12"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">We may modify the Terms at any time, in our sole discretion. If we 
  | do so, we’ll let you know either by posting the modified Terms on 
  | the Site or through other communications. It’s important that you 
  | review the Terms whenever we modify them because if you continue to 
  | use the Services after we have posted modified Terms on the Site, you 
  | are indicating to us that you agree to be bound by the modified Terms. 
  | If you don’t agree to be bound by the modified Terms, then you can’t 
  | use the Services anymore. Because our Services are evolving over time 
  | we may change or discontinue all or any part of the Services, at any 
  | time and without notice, at our sole discretion.<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;background-color:#ffff00"> </span></span></p>
  | <p style="margin-bottom:6pt"> </p>
  | <p style="margin-bottom:6pt"><a name="0.3__DV_M13"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Who May 
  | Use the Services</span></p>
  | <p><a name="0.3__DV_M14"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Eligibility</span></p>
  | <p style="margin-top:0pt;margin-bottom:6pt;text-align:justify"><a name="0.3__DV_M15"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">You may use the Services only 
  | if you are 1</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">3 years or older and capable of forming a binding 
  | contract with Perceptual and are not barred from using the Services 
  | under applicable law. </span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M16"></a><a name="0.3__DV_M19"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Using the 
  | Services</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M20"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Via the Services, Users can create video recordings 
  | and photos, save them to their mobile device, share them with others, 
  | post them to our web site at </span><a href="http://ffm.fm" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> and share them directly and/or via links to </span><a href="http://www.ffm.fm/" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://www.ffm.fm/</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> on certain third-party social networking services 
  | such as Facebook and Twitter (each, an “SNS Account”).  If 
  | you choose to share via the SNS Account option, we’ll programmatically 
  | access your SNS Account for the purposes of completing your requested 
  | actions, but we will not store your login information for your SNS Account.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M26"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Feedback</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M27"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">We welcome feedback, comments and suggestions for improvements to 
  | the Services (“<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Feedback</span>”). You can submit 
  | Feedback </span><a name="0.3__DV_C31"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">through the 
  | support interface in the “Settings” section of the Apps</span></span><a name="0.3__DV_M28"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. You grant to us a non-exclusive, worldwide, perpetual, irrevocable, 
  | fully-paid, royalty-free, sublicenseable and transferable license under 
  | any and all intellectual property rights that you own or control to 
  | use, copy, modify, create derivative works based upon and otherwise 
  | exploit the Feedback for any purpose.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M30"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Privacy Policy</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M31"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Please refer to our <a name="0.3__DV_M32"></a><a name="0.3__Hlt323810785"></a><a name="0.3__Hlt323810786"></a>
  | Privacy Policy</span><a name="0.3__DV_M33"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">  at </span><a href="http://ffm.fm/legal/privacy" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm/legal/privacy</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> for information on how we collect, use and disclose information from 
  | our users.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M34"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Content and Content Rights</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M35"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">For purposes of these Terms: (i) “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Content</span>” means text, 
  | graphics, images, music, software, audio, video, works of authorship 
  | of any kind, and information or other materials that are posted, generated, 
  | provided or otherwise made available through the Services; and (ii) 
  | “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">User Content</span>” means any 
  | Content that Account holders (including you) provide to be made available 
  | through the Services. Content includes without limitation User Content.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M36"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Content Ownership, Responsibility and Removal</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M37"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Perceptual does not claim any ownership rights 
  | in any Content that you make available through the Services and </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">nothing in these Terms will be deemed to restrict any rights that 
  | you may have to use and exploit your User Content. Subject to the foregoing, 
  | Perceptual and its licensors exclusively own all right, title and interest 
  | in and to the Services and Content, including all associated intellectual 
  | property rights. You acknowledge that the Services and Content are protected 
  | by copyright, trademark, and other laws of the United States and foreign 
  | countries. You agree not to remove, alter or obscure any copyright, 
  | trademark, service mark or other proprietary rights notices incorporated 
  | in or accompanying the Services or Content.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M38"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Rights in User Content Granted by You</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M39"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">By making any User Content available through 
  | Services you hereby grant to Perceptual a non-exclusive, </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">transferable, sublicenseable, worldwide, royalty-free license to use, 
  | copy, modify, create derivative works based upon, distribute, publicly 
  | display, publicly perform and distribute your User Content in connection 
  | with (i) operating and providing the Services and Content to you and 
  | to other Account holders and (ii) operating and providing any other 
  | online services and mobile applications made available by Perceptual. </span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M40"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">You are solely responsible for all your User 
  | Content. You represent and warrant that </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:normal;color:#000000">you own all your User Content 
  | or you have all rights that are necessary to grant us the license rights 
  | in your User Content under these Terms. You also represent and warrant 
  | that neither </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">your User Content, nor your use and provision of 
  | your User Content to be made available through the Services, nor any 
  | use of your User Content by Perceptual on or through the Services will 
  | infringe, misappropriate or violate a third party’s intellectual property 
  | rights, or rights of publicity or privacy, or result in the violation 
  | of any applicable law or regulation. </span></p>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">We presently do not offer Users the ability to delete 
  | videos hosted at </span><a href="http://ffm.fm" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> and are not responsible or liable for the removal 
  | or deletion of (or the failure to remove or delete) any of your User 
  | Content. </span></p>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M47"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Rights in Content Granted 
  | by Perceptual</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M48"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Subject to your compliance with these Terms, Perceptual 
  | grants you a limited, non-exclusive, non-transferable, non-sublicenseable 
  | license to download, view, copy, display and print the Content solely 
  | in connection with your permitted use of the Services. </span></p>
  | <p style="margin-bottom:6pt"> </p>
  | <p style="margin-top:0pt;margin-bottom:6pt;text-align:justify"><a name="0.3__DV_M49"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Rights 
  | and Terms for Apps</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M50"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Rights in </span><a name="0.3__DV_C43"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline;color:#000000">Apps</span></span><a name="0.3__DV_M51"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline"> Granted by Perceptual</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M52"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Subject to your compliance 
  | with these Terms, Perceptual grants you a limited non-exclusive, non-transferable, 
  | non-</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">sublicenseable license to download and install a 
  | copy of the </span><a name="0.3__DV_C45"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M53"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> on a mobile device or computer that you own or control 
  | and to run such copy of the </span><a name="0.3__DV_C47"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M54"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> solely for your own personal non-commercial purposes. 
  | Perceptual reserves all rights in and to the </span><a name="0.3__DV_C49"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M55"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> not expressly granted to you under these Terms.</span></p>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M56"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Additional Terms for 
  | App Store Apps</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M57"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">If you download the </span><a name="0.3__DV_C51"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M58"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> through or from any app store or distribution platform 
  | (like the Apple App Store or Google Play) where the </span><a name="0.3__DV_C53"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps are</span></span><a name="0.3__DV_M59"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> made available (each, an “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">App Provider</span>”), then 
  | you acknowledge and agree that:</span></p>
  | <p> </p>
  | <ul style="list-style:disc">
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M60"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">These Terms are concluded 
  |   between you and Perceptual, and not with the App Provider, and that 
  |   Perceptual (not the App Provider), is solely responsible for the </span><a name="0.3__DV_C55"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M61"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M62"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">The App Provider has no obligation 
  |   to f</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">urnish any maintenance and support services with 
  |   respect to the </span><a name="0.3__DV_C57"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M63"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M64"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">In the event of any failure 
  |   of the </span><a name="0.3__DV_C59"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M65"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> to conform to any applicable warranty, you may notify the App Provider, 
  |   and the App Provider will refund the purchase price for the </span><a name="0.3__DV_C61"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M66"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> to you (i</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">f applicable) and, to the maximum extent permitted 
  |   by applicable law, the App Provider will have no other warranty obligation 
  |   whatsoever with respect to the </span><a name="0.3__DV_C63"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M67"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. Any other claims, losses, liabilities, damages, costs or expenses 
  |   attributable to any failure</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> to conform to any warranty will be the sole responsibility 
  |   of Perceptual.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M68"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">The App Provider is not responsible 
  |   for addressing any claims you have or any claims of any third party 
  |   relating to the </span><a name="0.3__DV_C65"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M69"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> or your possession and/or use of the </span><a name="0.3__DV_C67"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M70"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">, including, bu</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">t not limited to: (i) product liability claims; (ii) 
  |   any claim that the App fails to conform to any applicable legal or regulatory 
  |   requirement; and (iii) claims arising under consumer protection and/or 
  |   similar legislation.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M71"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">In the event of any third-party 
  |   c</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">laim that the </span><a name="0.3__DV_C69"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M72"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> or your possession and/or use of that </span><a name="0.3__DV_C71"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M73"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> infringes that third party</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">s intellectual property rights, Perceptual will be 
  |   solely responsible for the investigation, defense, settlement and discharge 
  |   of any such intellectual property infrin</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">gement claim to the extent required by these Terms.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M74"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">The App Provider and its subsidiaries 
  |   are third-party beneficiaries of these Terms as related to your license 
  |   of the </span><a name="0.3__DV_C73"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M75"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">, and that, upon your acceptance of the terms and conditions of these 
  |   Terms, the Ap</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">p Provider will have the right (and will be deemed 
  |   to have accepted the right) to enforce these Terms as related to your 
  |   license of the </span><a name="0.3__DV_C75"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M76"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> against you as a third-party beneficiary thereof.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M77"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">You must also comply with 
  |   all applicable third-party terms of ser</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">vice when using the </span><a name="0.3__DV_C77"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M78"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">.</span></li>
  |   <li style="margin-left:0pt;text-align:justify"><a name="0.3__DV_M79"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">You agree to comply with all 
  |   U.S. and foreign export laws and regulations to ensure that neither 
  |   the </span><a name="0.3__DV_C79"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M80"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> nor any technical data related thereto nor any direct product thereof </span><a name="0.3__DV_C81"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">are</span></span><a name="0.3__DV_M81"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> exported or re-exported directly or indirectly in </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">violation of, or used for any purposes prohibited 
  |   by, such laws or regulations. By using the </span><a name="0.3__DV_C83"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M82"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> you represent and warrant that: (i) you are not located in a country 
  |   that is subject to a U.S. Government embargo, or that has been designated 
  |   by the U.S. Gov</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">ernment as a </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">“</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">terrorist supporting</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">”</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> country; and (ii) you are not listed on any U.S. 
  |   Government list of prohibited or restricted parties.</span></li>
  | </ul>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M83"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">You may not: (i) copy, modify 
  | or create derivative works based on the </span><a name="0.3__DV_C85"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M84"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">; (ii) distribute, transfer, sublicense, lease, lend 
  | or rent the </span><a name="0.3__DV_C87"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M85"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> to any third party; (iii) reverse engineer, decompile 
  | or disassemble the </span><a name="0.3__DV_C89"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M86"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">; or (iv) make the functionality of the </span><a name="0.3__DV_C91"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M87"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> available to multiple users through any means.</span></p>
  | <p style="margin-bottom:6pt"> </p>
  | <p style="margin-top:0pt;margin-bottom:6pt;text-align:justify"><a name="0.3__DV_M88"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Prohibitions</span></p>
  | <p style="margin-bottom:3pt;text-align:justify"><a name="0.3__DV_M89"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">You agree not to do any of the following:</span></p>
  | <ul style="list-style:disc">
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M90"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Post</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">, upload, publish, submit or transmit any Content 
  |   that: (i) infringes, misappropriates or violates a third party</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">s patent, copyright, trademark, trade secret, moral 
  |   rights or other intellectual property rights, or rights of publicity 
  |   or privacy; (ii) viola</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">tes, or encourages any conduct that would violate, 
  |   any applicable law or regulation or would give rise to civil liability; 
  |   (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, 
  |   obscene, pornographic, vulgar or offensive; (v) promotes dis</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">crimination, bigotry, racism, hatred, harassment or harm against any 
  |   individual or group; (vi) is violent or threatening or promotes violence 
  |   or actions that are threatening to any person or entity; or (vii) promotes 
  |   illegal or harmful activities or substa</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">nces. </span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_C93"></a><a name="0.3__DV_C94"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Use, copy 
  |   or distribute any User Content from another user of the Services outside 
  |   of the Services without permission from such user</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">, although 
  |   sharing a link to a video at </span></span><a href="http://ffm.fm/" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm/</span></span></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000"> shall not 
  |   be considered t</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">o be a violation 
  |   of these rules</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">;</span></span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M91"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Use, display, mirror or frame 
  |   the Services, or any individual element within the Services, Perceptual</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">s name, any Perceptual trademark, 
  |   logo or other proprietary information, or the layout and design of any 
  |   page or form con</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">tained on a page, without Perceptual</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">s express written consent;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M92"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Access, tamper with, or use 
  |   non-public areas of the Services, Perceptual</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">s computer systems, or the 
  |   technical delivery systems of Perceptual</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">s providers;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M93"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Attempt to probe, scan, or 
  |   test the vu</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">lnerability of any Perceptual system or network or 
  |   breach any security or authentication measures;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M94"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Avoid, bypass, remove, deactivate, 
  |   impair, descramble or otherwise circumvent any technological measure 
  |   implemented by Perceptual or any of Perceptual</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">s prov</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">iders or any other third party (including another 
  |   user) to protect the Services or Content;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M95"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Attempt to access or search 
  |   the Services or Content or download Content from the Services through 
  |   the use of any engine, software, tool, agent, device or mechanism </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">(including spiders, robots, crawlers, data mining tools or the like) 
  |   other than the software and/or search agents provided by Perceptual 
  |   or other generally available third party web browsers;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M96"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Send any unsolicited or unauthorized 
  |   advertising, promotional ma</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">terials, email, junk mail, spam, chain letters or 
  |   other form of solicitation;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M97"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Use any meta tags or other 
  |   hidden text or metadata utilizing a Perceptual trademark, logo URL or 
  |   product name without Perceptual</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">’</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">s express written consent;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M98"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Use the Services or Co</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">ntent for any commercial purpose or the benefit of any third party 
  |   or in any manner not permitted by these Terms;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M99"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Forge any TCP/IP packet header 
  |   or any part of the header information in any email or newsgroup posting, 
  |   or in any way use the Services or Cont</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">ent to send altered, deceptive or false source-identifying 
  |   information;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M100"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Attempt to decipher, decompile, 
  |   disassemble or reverse engineer any of the software used to provide 
  |   the Services or Content;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M101"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Interfere with, or attempt 
  |   to interfere with, the access of</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> any user, host or network, including, without limitation, 
  |   sending a virus, overloading, flooding, spamming, or mail-bombing the 
  |   Services;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M102"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Collect or store any personally 
  |   identifiable information from the Services from other users of the Services 
  |   without t</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">heir express permission;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M103"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Impersonate or misrepresent 
  |   your affiliation with any person or entity;</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M104"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Violate any applicable law 
  |   or regulation; or</span></li>
  |   <li style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M105"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Encourage or enable any other 
  |   individual to do any of the foregoing.</span></li>
  | </ul>
  | <h3 style="margin-left:0pt;text-align:justify;text-indent:0pt"><a name="0.3__DV_M106"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Although we’re not obligated 
  | to monitor acces</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">s to or use of the Services or Content or to review 
  | or edit any Content, we have the right to do so for the purpose of operating 
  | the Services, to ensure compliance with these Terms, or to comply with 
  | applicable law or other legal requirements. We reserve the right, but 
  | are not obligated, to remove or disable access to any Content, at any 
  | time and without notice, including, but not limited to, if we, at our 
  | sole discretion, consider any Content to be objectionable or in violation 
  | of these Terms. We have the right to investigate violations of these 
  | Terms or conduct that affects the Services. We may also consult and 
  | cooperate with law enforcement authorities to prosecute users who violate 
  | the law.</span></h3>
  | <p style="text-align:justify"><a name="0.3__DV_M107"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">DMCA/Copyright Policy</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M108"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Perceptual respects copyright 
  | law and expe</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">cts its users to do the same. It is Perceptual’s 
  | policy to terminate in appropriate circumstances Account holders or 
  | subscribers who repeatedly infringe the rights of copyright holders. 
  | Please see Perceptual’s Copyright Policy at </span><a href="http://ffm.fm/legal/copyright" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm/legal/<WBR>copyright</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> for further information.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Use of 
  | Open Source Projects</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">The Services may </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">incorporate open source software whose licenses require 
  | notice to Users of the inclusion of such software.  If we use any 
  | such open source software, the licenses will be posted at </span><a href="http://ffm.fm/legal/licenses" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">http://ffm.fm/legal/<WBR>licenses</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> .  Acceptance of these Terms shall constitute 
  | acceptance of any licenses posted there as well and such posting constitutes 
  | inclusion of said licenses if required by the licenesee.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M109"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">Links to Third Party Websites or Resources</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M110"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">The Services and </span><a name="0.3__DV_C96"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M111"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> may contain links to third-party websites or resources. 
  | We provide these links only as a convenience and are not responsible 
  | for the content, products or services on or available from those websites 
  | or resources or links displayed on such sites. You acknowledge sole 
  | responsibility for and assume all risk arising from, your use of any 
  | third-party websites or resources.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M112"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Termination</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M113"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">We may terminate your access to and use of the Services, at our sole 
  | discretion, at any time and without notice to you. You may cancel your 
  | Account at any time </span><a name="0.3__DV_C98"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">via the “Settings” 
  | section of the Services</span></span><a name="0.3__DV_M114"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. Upon any termination, discontinuation or cancellation 
  | of Services or your Account, all provisions of these Terms which by 
  | their nature should survive will survive, including, without limitation, 
  | ownership provisions, warranty disclaimers, limitations of liability, 
  | and dispute resolution provisions.  </span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M115"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Warranty Dis</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">claimers</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M116"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;text-transform:uppercase">THE SERVICES AND 
  | CONTENT ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND.</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> <span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-transform:uppercase">WITHOUT LIMITING THE FOREGOING, </span>
  | WE EXPLICITLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS 
  | FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT AND ANY 
  | WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. We make 
  | no warranty that the Services will meet your requirements or be available 
  | on an uninterrupted, secure, or error-free basis. We make no warranty 
  | regarding the quality, accuracy, timeliness, truthfulness, completeness 
  | or reliability of any Content.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M117"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR <span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-transform:uppercase">COMMUNICATIONS AND INTERACTIONS </span>
  | WITH SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT 
  | AS A RESULT OF YOUR USE OF THE SERVICES.  YOU UNDERSTAND THAT PERCEPTUAL 
  | DOES NOT PROVIDE TECHNOLOGIES THAT PREVENT PEOPLE YOU SHARE YOUR CONTENT 
  | WITH FROM FORWARDING IT ON TO OTHER PEOPLE, INSIDE OR OUTSIDE OF THE 
  | SERVICES.  SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF 
  | THE SERVICES, NOR DOES PERCEPTUAL MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS 
  | OF USERS OF THE SERVICES.  YOU AGREE TO TAKE REASONABLE PRECAUTIONS 
  | IN ALL <span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-transform:uppercase">COMMUNICATIONS AND INTERACTIONS </span>
  | IN REGARDS TO SHARING CONTENT WITH USERS OF THE SERVICE AND OTHER PEOPLE.  
  | YOU AGREE TO USE REASONABLE JUDGMENT BEFORE FORWARDING PERSONAL PHOTOS 
  | AND VIDEOS TO OTHER PEOPLE.</span></p>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M118"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Indemnity</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M119"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">You will indemnify and hold harmless Perceptual and 
  | its officers, directors, employee and agents, from and against any claims, 
  | disputes, demands, liabilities, damages, losses, and costs and expenses, 
  | including, without limitation, reasonable legal and accounting fees, 
  | arising out of or in any way connected with (i) your access to or use 
  | of the Services or Content, (ii) your User Content, or (iii) your violation 
  | of these Terms.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M120"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Limitation of Liability</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M121"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;text-transform:uppercase">NEITHER 
  | PERCEPTUAL NOR ANY THIRD PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING 
  | THE SERVICES OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, 
  | EXEMPLARY OR CONSEQUENTIAL DAMAGES,</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> INCLUDING LOST PROFITS, LOSS OF DATA OR GOODWILL, 
  | SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST 
  | OF SUBSTITUTE SERVICES <span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-transform:uppercase">ARISING OUT OF OR IN CONNECTION 
  | WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES 
  | OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), 
  | PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT PERCEPTUAL 
  | HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED 
  | REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE</span>. 
  | SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY 
  | FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY 
  | NOT APPLY TO YOU.</span></p>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M122"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;text-transform:uppercase">IN 
  | NO EVENT WILL PERCEPTUAL’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION 
  | WITH</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> THESE TERMS OR FROM THE USE OF OR INABILITY TO USE <span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-transform:uppercase">THE SERVICES OR CONTENT </span>
  | EXCEED </span><a name="0.3__DV_C100"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">THE AMOUNTS 
  | YOU HAVE PAID TO PERCEPTUAL FOR USE OF THE SERVICES IN THE TWELVE (12) 
  | MONTH PERIOD PRIOR TO THE CLAIM GIVING RISE TO LIABILITY, IF YOU HAVE 
  | MADE ANY PAYMENTS TO PERCEPTUAL FOR USE OF THE SERVICES OR </span></span><a name="0.3__DV_M123"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">ONE HUNDRED DOLLARS ($100)</span><a name="0.3__DV_C101"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">, IF YOU HAVE 
  | NOT MADE ANY PAYMENTS TO PERCEPTUAL FOR USE OF THE SERVICES, AS APPLICABLE</span></span><a name="0.3__DV_M124"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE 
  | FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN PERCEPTUAL 
  | AND YOU. </span></p>
  | <h1 style="margin-bottom:6pt;margin-left:0pt;text-align:justify"><a name="0.3__DV_M125"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Dispute 
  | Resolution</span></h1>
  | <p style="text-align:justify"><a name="0.3__DV_M126"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Governing Law</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M127"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">These Terms and any action related thereto will be governed by the 
  | laws of the State of California without regard to its conflict of laws 
  | provisions.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M128"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Agreement to Arbitrate</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M129"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">You and Perceptual agree that</span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-style:normal"> any dispute, claim or controversy arising out 
  | of or relating to these Terms or the breach, termination, enforcement, 
  | interpretation or validity thereof or the use of the Services or Content 
  | (collectively, “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;font-style:normal">Disputes</span>”) 
  | will be settled by binding arbitration, except that each party retains 
  | the right: (i) to bring an individual action in small claims court and 
  | (ii) to seek </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">injunctive or other equitable relief in a court of 
  | competent jurisdiction to prevent the actual or threatened infringement, 
  | misappropriation or violation of a party’s copyrights, trademarks, 
  | trade secrets, patents or other intellectual property rights (the action 
  | described in the foregoing clause (ii), an “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">IP Protection Action</span>”). 
  | The exclusive jurisdiction and venue of any IP Protection Action will 
  | be the state and federal courts located in the Northern District of 
  | California and each of the parties hereto waives any objection to jurisdiction 
  | and venue in such courts. </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;font-style:normal">You acknowledge 
  | and agree that you and Perceptual</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold"> are each waiving the right to 
  | a trial by jury or to participate as a plaintiff or class member in 
  | any purported class action or representative proceeding.</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> Further, unless both you and Perceptual otherwise agree in writing, 
  | the arbitrator may not consolidate more than one person&#39;s claims, and 
  | may not otherwise preside over any form of any class or representative 
  | proceeding. If this specific paragraph is held unenforceable, then the 
  | entirety of this “Dispute Resolution” section will be deemed void. 
  | Except as provided in the preceding sentence, this “Dispute Resolution” 
  | section will survive any termination of these Terms.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M130"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-style:normal;text-decoration:underline">Arbitration Rules</span></span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M131"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-style:normal">The arbitration will be administered by </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">the American Arbitration Association (“<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">AAA</span>”<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">) </span></span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-style:normal">in accordance with the </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Commercial Arbitration Rules and the Supplementary 
  | Procedures for Consumer Related Disputes (the “<span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold">AAA Rules</span>”) then in effect, 
  | except as modified by this “Dispute Resolution” section. (The AAA 
  | Rules are available at </span><a href="http://www.adr.org/arb_med" style="text-decoration:none" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">www.adr.org/arb_med</span></span></a><a name="0.3__DV_M132"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> or by calling the AAA at 1-800-778-7879.) The Federal Arbitration 
  | Act will govern the interpretation and enforcement of this Section.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M133"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Arbitration Process</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M134"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">A party who desires to initiate arbitration must provide the other 
  | party with a written Demand for Arbitration as specified in the AAA 
  | Rules. (The AAA provides a form Demand for Arbitration at </span><a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175" style="text-decoration:none" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">http://www.adr.org/aaa/<WBR>ShowPDF?doc=ADRSTG_004175</span></span></a><a name="0.3__DV_M135"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> and a separate form for California residents at </span><a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822" style="text-decoration:none" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">http://www.adr.org/aaa/<WBR>ShowPDF?doc=ADRSTG_015822</span></span></a><a name="0.3__DV_M136"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">.) The arbitrator will be either a retired judge or an attorney licensed 
  | to practice law and will be selected by the parties from the AAA’s 
  | roster of arbitrators. If the parties are unable to agree upon an arbitrator 
  | within seven (7) days of delivery of the Demand for Arbitration, then 
  | the AAA will appoint the arbitrator in accordance with the AAA Rules.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M137"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Arbitration Location and Procedure</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M138"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Unless you and Perceptual otherwise agree, the arbitration will be 
  | conducted in the county where you reside. If your claim does not exceed 
  | $10,000, then the arbitration will be conducted solely on the basis 
  | of the documents that you and Perceptual submit to the arbitrator, unless 
  | you request a hearing or the arbitrator determines that a hearing is 
  | necessary. If your claim exceeds $10,000, your right to a hearing will 
  | be determined by the AAA Rules. Subject to the AAA Rules, the arbitrator 
  | will have the discretion to direct a reasonable exchange of information 
  | by the parties, consistent with the expedited nature of the arbitration.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M139"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Arbitrator’s Decision</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M140"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">The arbitrator will render an award within the time frame specified 
  | in the AAA Rules. The arbitrator’s decision will include the essential 
  | findings and conclusions upon which the arbitrator based the award. </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">J</span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">udgment on the arbitration award may be entered in 
  | any court having jurisdiction thereof. The arbitrator’s award of damages 
  | must be consistent with the terms of the “Limitation of Liability” 
  | section above as to the types and amounts of damages for which a party 
  | may be held liable. The arbitrator may award declaratory or injunctive 
  | relief only in favor of the claimant and only to the extent necessary 
  | to provide relief warranted by the claimant’s individual claim. </span><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">If you prevail in arbitration you will be entitled to an award of 
  | attorneys’ fees and expenses, to the extent provided under applicable 
  | law. </span></span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Perceptual will not seek, and hereby waives all rights 
  | it may have under applicable law to recover, attorneys’ fees and expenses 
  | if it prevails in arbitration.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M141"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Fees</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M142"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Your responsibility to pay any AAA filing, administrative and arbitrator 
  | fees will be solely as set forth in the AAA Rules. However, if your 
  | claim for damages does not exceed $75,000, Perceptual will pay all such 
  | fees unless the arbitrator finds that either the substance of your claim 
  | or the relief sought in your Demand for Arbitration was frivolous or 
  | was brought for an improper purpose (as measured by the standards set 
  | forth in Federal Rule of Civil Procedure 11(b)).</span></p>
  | <p> </p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M143"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">Changes</span></p>
  | <p style="margin-top:0pt;margin-bottom:0pt;text-align:justify"><a name="0.3__DV_M144"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">Notwithstanding the provisions of the “Modification” 
  | section above, if Perceptual changes this “Dispute Resolution” section 
  | after the date you first accepted these Terms (or accepted any subsequent 
  | changes to these Terms), you may reject any such change by sending us 
  | written notice (including by email to </span><a href="mailto:support@perceptualnet.com" target="_blank"><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:underline">support@perceptualnet.com</span></span></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">)<WBR>within 30 days of the date such change became effective, 
  | as indicated in the “Last Updated” date above or in the date of 
  | Perceptual’s email to you notifying you of such change. By rejecting 
  | any change, you are agreeing that you will arbitrate any Dispute between 
  | you and Perceptual in accordance with the provisions of this “Dispute 
  | Resolution” section as of the date you first accepted these Terms 
  | (or accepted any subsequent changes to these Terms).</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M145"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">General Terms</span></p>
  | <p style="text-align:justify"><a name="0.3__DV_M146"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">These Terms constitute the entire and exclusive understanding and 
  | agreement between Perceptual and you regarding the Services and Content, 
  | and these Terms supersede and replace any and all prior oral or written 
  | understandings or agreements between Perceptual and you regarding the 
  | Services and Content. If for any reason a court of competent jurisdiction 
  | finds any provision of these Terms invalid or unenforceable, that provision 
  | will be enforced to the maximum extent permissible and the other provisions 
  | of these Terms will remain in full force and effect.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M147"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">You may not assign or transfer these Terms, by operation of law or 
  | otherwise, without Perceptual’s prior written consent. Any attempt 
  | by you to assign or transfer these Terms, without such consent, will 
  | be null and of no effect. Perceptual may freely assign or transfer these 
  | Terms without restriction. Subject to the foregoing, these Terms will 
  | bind and inure to the benefit of the parties, their successors and permitted 
  | assigns.</span></p>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M148"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Any notices or other communications provided 
  | by Perceptual under these Terms, including those regarding modifications 
  | to these Terms, will be</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> given by Perceptual: (i) via email; or (ii) by posting 
  | to the Site or </span><a name="0.3__DV_C105"></a><span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none;color:#000000">Apps</span></span><a name="0.3__DV_M149"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">. For notices made by e-mail, the date of receipt will be deemed the 
  | date on which such notice is transmitted.</span></p>
  | <h3 style="margin-left:0pt;text-align:justify;text-indent:0pt"><a name="0.3__DV_M150"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">Perceptual’s failure to 
  | enforce any right or provision of these Terms</span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt"> will not be considered a waiver of those rights. 
  | The waiver of any such right or provision will be effective only if 
  | in writing and signed by a duly authorized representative of Perceptual. 
  | Except as expressly set forth in these Terms, the exercise by either 
  | party of any of its remedies under these Terms will be without prejudice 
  | to its other remedies under these Terms or otherwise.</span></h3>
  | <p> </p>
  | <p style="text-align:justify"><a name="0.3__DV_M151"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;font-weight:bold;text-decoration:none">Contact Information</span></p>
  | <p style="margin-bottom:0pt;text-align:justify;text-indent:0pt"><a name="0.3__DV_M152"></a><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt;text-decoration:none">If you have any questions 
  | about these Terms or the Services, please contact Perceptual at </span><span style="font-family:&#39;Calibri&#39;,&#39;Arial&#39;;font-size:11pt">206 S 4<sup>th</sup> St, Philadelphia, PA  19106.</span></p>
  | <p> <br></p>
